<% if user_signed_in? && current_user.approved? %>
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
					<div class="card-header" data-background-color="green">
						<i class="material-icons">monetization_on</i>
					</div>
					<div class="card-content">
						<p class="category">Total Revenue</p>
						<h3 class="title"> GHS <%= current_user.cumulative_earnings %></h3>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">date_range</i> Last 24 Hours
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
					<div class="card-header" data-background-color="default">
						<i class="material-icons">people</i>
					</div>
					<div class="card-content">
						<p class="category">Total Hired Applicants</p>
						<h3 class="title"><%= current_user.total_number_of_hired_applicants %></h3>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">date_range</i> Since 3/4/2017
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
					<div class="card-header" data-background-color="blue">
						<i class="material-icons">business_center</i>
					</div>
					<div class="card-content">
						<p class="category">Business Deals</p>
						<h3 class="title"><%= current_user.number_of_successful_deals %></h3>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">date_range</i> Since 3/4/2017
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
					<div class="card-header" data-background-color="red">
						<i class="material-icons">person</i>
					</div>
					<div class="card-content">
						<p class="category">Top Earner</p>
						<h3 class="title"><%= @top_earner.nil? ? "-" : @top_earner.username %></h3>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">update</i> Just Updated
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% elsif user_signed_in? && current_user.disapproved? %>
 <h2><span class="btn btn-danger btn-lg btn-round">NOTE!! Your Account Is Yet To Be Approved By Admin.</span></h2>
<% else %>
<%= link_to "create an account", new_user_registration_url, class: "btn btn-default btn-round" %> OR <%= link_to "Log In", new_user_session_url, class: "btn btn-primary btn-round" %> to gain access. 
<% end %>
