<%= link_to messages_url(category: "received") do %>
  <button class="btn btn-warning btn-xs btn-round">
  	Inbox <span class="inbox_notification"><%= Message.received_messages_for_user(current_user).count %></span>
  </button>
<% end %>

<%= link_to messages_url(category: "sent") do %>
  <button class="btn btn-info btn-xs btn-round">
  	Outbox <span class="outbox_notification"><%= current_user.messages.where(draft: false, archived: false).count %></span>
  </button>
<% end %>

<%= link_to messages_url(category: "draft") do %>
  <button class="btn btn-default btn-xs btn-round">
  	Draft <span class="draft_notification"><%= Message.drafted_by_user(current_user).count %></span>
  </button>
<% end %>

<%#= link_to messages_url(category: "archived") do %>
  <!-- <button class="btn btn-danger btn-xs btn-round">
  	Archived Messages <span class="archived_notification"><%#= Message.where(archived: true, archived_by: current_user.fullname, sent_by: "#{current_user.fullname}").all.count + Message.where(archived: true, archived_by: current_user.fullname, recipient_name: "#{current_user.fullname}").all.count %></span>
  </button> -->
<%# end %>
<div class="col-md-12">
	<div class="card">
		<% if current_page?(messages_url(category: "received")) %>
	    <div class="card-header" data-background-color="orange">
	    <% elsif current_page?(messages_url(category: "sent")) %>
	    <div class="card-header" data-background-color="blue">
	    <% elsif current_page?(messages_url(category: "draft")) %>
	    <div class="card-header" data-background-color="grey">
	    <%# elsif current_page?(messages_url(category: "archived")) %>
	    <!-- <div class="card-header" data-background-color="red">	 -->
	    <% else %>
	    <div class="card-header" data-background-color="purple">
	    <% end %>
			<h4 class="title">Messages</h4>
		</div>
		<div class="card-content table-responsive">
			<table class="table">
				<thead class="text-<%= @x %>">
					<th>From</th>
					<th>Message</th>
					<th>Status</th>
					<th></th>
					<th>Timestamp</th>
				</thead>
				<tbody>
				<% if @messages.any? %>
				  <% @messages.each do |message| %>
					<tr>
						<td>
						<% if message.user_id == current_user.id %>
						    <%= link_to "#" do %>
						      <% if current_page?(messages_url(category: "received")) %>
						      <span class="btn btn-warning btn-xs btn-round">
						      <% elsif current_page?(messages_url(category: "sent")) %>
						      <span class="btn btn-info btn-xs btn-round">
						      <% elsif current_page?(messages_url(category: "draft")) %>
						      <span class="btn btn-default btn-xs btn-round">
						      <%# elsif current_page?(messages_url(category: "archived")) %>
						      <!-- <span class="btn btn-danger btn-xs btn-round"> -->
						      <% end %>
						        Me 
						        </span>
						    <% end %>
						  <% else %>
						      <%= link_to "#" do %>
						      <% if current_page?(messages_url(category: "received")) %>
						      <span class="btn btn-warning btn-xs btn-round">
						      <% elsif current_page?(messages_url(category: "sent")) %>
						      <span class="btn btn-info btn-xs btn-round">
						      <% elsif current_page?(messages_url(category: "draft")) %>
						      <span class="btn btn-default btn-xs btn-round">
						      <%# elsif current_page?(messages_url(category: "archived")) %>
						      <!-- <span class="btn btn-danger btn-xs btn-round"> -->
						      <% end %>
						        <%= message.sent_by %>
						      </span>  
						      <% end %>
						  <% end %>  
						</td>
						<% if current_page?(messages_url(category: "received")) %>
						<td class="text-warning">
						<% elsif current_page?(messages_url(category: "sent")) %>
						<td class="text-info">
						<% elsif current_page?(messages_url(category: "draft")) %>
						<td class="text-default">
						<%# elsif current_page?(messages_url(category: "archived")) %>
						<!-- <td class="text-danger"> -->
						<% end %>
						<strong><%= message.title %></strong>***


						<%= link_to message_url(message, message_id: message.id) do %>
						<% if current_page?(messages_url(category: "received")) %>
						<span class="text-warning">
						<% elsif current_page?(messages_url(category: "sent")) %>
						<span class="text-info">
						<% elsif current_page?(messages_url(category: "draft")) %>
						<span class="text-default">
						<%# elsif current_page?(messages_url(category: "archived")) %>
						<!-- <span class="text-danger"> -->
						<% end %>
						  <%= truncate(message.content, length: 40) %>
						</span>  
						<% end %>

						<% unless params[:category] == "received" || message.user.admin? %>
						  <% unless !message.draft? %>
						    <%= link_to [:edit, message] do %>
						      <button type="button" title="Edit" class="btn btn-primary btn-simple btn-xs">
						        <i class="material-icons">edit</i>
						      </button>
						    <% end %> 

						    <%= link_to [message], method: :delete, data: { confirm: "Are you sure you want to delete this message?" } do %>
						      <button type="button" title="Remove" class="btn btn-primary btn-simple btn-xs">
							    <i class="material-icons">close</i>
						      </button>  
						    <% end %>
						  <% end %>  	

						  <%# if message.archived_by == current_user.fullname %>
						    <%#= link_to unarchive_message_url(message), method: :patch, data: { confirm: "Are you sure you want to unarchive this message?"} do %>
						      <!-- <button type="button" title="Unarchive" class="btn btn-<%= @x %> btn-simple btn-xs">  
						        <i class="material-icons">unarchive</i>
						      </button> -->  
						    <%# end %> 
						  <%# else %> 
						    <%#= link_to archive_message_url(message), method: :patch, data: { confirm: "Are you sure you want to archive this message?"} do %>
						      <!-- <button type="button" title="Archive" class="btn btn-<%= @x %> btn-simple btn-xs">  
						        <i class="material-icons">archive</i>
						      </button> -->  
						    <%# end %>
						  <%# end %>
						<% end %>  

						<%# if message.user.admin? %>
						  <%# if message.archived_by == current_user.fullname %>
						    <%#= link_to unarchive_message_url(message), method: :patch, data: { confirm: "Are you sure you want to unarchive this message?"} do %>
						      <!-- <button type="button" title="Unarchive" class="btn btn-<%= @x %> btn-simple btn-xs">  
						        <i class="material-icons">unarchive</i>
						      </button> -->  
						    <%# end %> 
						  <%# else %> 
						    <%#= link_to archive_message_url(message), method: :patch, data: { confirm: "Are you sure you want to archive this message?"} do %>
						      <!-- <button type="button" title="Archive" class="btn btn-<%= @x %> btn-simple btn-xs">  
						        <i class="material-icons">archive</i>
						      </button> -->  
						    <%# end %>
						  <%# end %>
						<%# end %>
						</td>
						<td>
						  <% if message.save_as_draft? %>
						    <button class="btn btn-<%= @x %> btn-xs btn-round">
						      draft	
						    </button>
						  <% elsif !message.save_as_draft? && !message.user.admin? %>	
						    <button class="btn btn-<%= @x %> btn-xs btn-round">
						      sent 	
						    </button>
						  <% elsif !message.save_as_draft? && message.user.admin? %>
						    <button class="btn btn-<%= @x %> btn-xs btn-round">
						      received	
						    </button>  
						  <% end %>	

						  <%# if message.read_message? && message.user.admin? %>
						    <%#= link_to [message] do %>
						      <!-- <button class="btn btn-<%= @x %> btn-xs btn-round">
						        read 	
						      </button> -->
						    <%# end %>  
						  <%# elsif !message.read_message? && !message.user.admin? %>	
						    <%#= link_to [message] do %>  
						      <!-- <button class="btn btn-danger btn-xs btn-round">
						        unread 	
						      </button> -->
						    <%# end %>  
						  <%# end %>	
						  </td>  
						  <td>
						<% if message.save_as_draft? %>	
						  <%= link_to send_message_url(message), method: :patch, data: { confirm: "Are you sure you want to send this message to #{message.recipient_name}?" } do %>
						    <span class="btn btn-default btn-xs btn-round">
						      send?
						    </span>
						  <% end %> 
						<% else %>
						<% end %>
						</td>	
						<td><%= message.created_at.strftime("%B %d, %Y -%T") %></td>
					</tr>
					<% end %>
				<% else %>
                  <tr>
                    <td>no data</td>
                    <td>no data</td>
                    <td>no data</td>
                    <td>no data</td>
                  </tr>
                <% end %>  	
				</tbody>
			</table>

		</div>
	</div>
</div>

