	                    <div class="col-md-8">
	                        <div class="card">
	                            <div class="card-header" data-background-color="purple">
	                                <h4 class="title">Log In</h4>
									<p class="category"></p>
	                            </div>
	                            <div class="card-content">
	                                <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	                                    <div class="row">
	                                        <div class="col-md-12">
												<div class="form-group label-floating">
													<label class="control-label">Email</label>
													<%= f.input :email, label: false, required: false, autofocus: true, class: "form-control" %>
												</div>
	                                        </div>
	                                    </div>

	                                    <div class="row">
	                                        <div class="col-md-12">
												<div class="form-group label-floating">
													<label class="control-label">Password</label>
													<%= f.input :password, label: false, required: false, class: "form-control" %>
												</div>
	                                        </div>
	                                    </div>
	                                    <div class="row">
	                                        <div class="col-md-3">
												<div class="form-group label-floating">
													<label class="control-label">Remember</label>
													<%= f.input :remember_me, label: false, as: :boolean if devise_mapping.rememberable? %>
												</div>
	                                        </div>
	                                    </div>
	                                    <div class="clearfix">
	                                    <%= link_to "create an account", new_user_registration_url, class: "btn btn-default pull-left" %>
	                                    	 <%= f.button :submit, "Log in", class: "btn btn-primary btn-xs btn-round pull-right" %>
	                                    </div>
	                                <% end %>
	                            </div>
	                        </div>
	                    </div>

