<tr>
	<% if !activity.trackable.nil? %>
	<td><span class="btn btn-primary btn-xs btn-round"><%= activity.user.username %></span> just brought in
		<% if activity.trackable.user != current_user %>
		<span class="dropdown">
			<% if activity.trackable.company.deal? %>
			<a href="#" class="dropdown-toggle btn btn-warning btn-xs btn-round" data-toggle="dropdown">
				<% else %>
				<a href="#" class="dropdown-toggle btn btn-default btn-xs btn-round" data-toggle="dropdown"> 	
					<% end %>  

					<%= activity.trackable.name %>
				</a>
			</span> to 
			<% if activity.trackable.company.deal? %>
			<%=link_to activity.trackable.company.company_name, admin_company_url(activity.trackable.company ,tab: "company"), class: "btn btn-success btn-xs btn-round" %>
			<% else %>  
			<%=link_to activity.trackable.company.company_name, admin_company_url(activity.trackable.company ,tab: "company"), class: "btn btn-default btn-xs btn-round" %>
			<% end %>  
			for a role as: 
			<% if activity.trackable.company.deal? %>
			<span class="btn btn-info btn-xs btn-round">
				<% else %>  
				<span class="btn btn-default btn-xs btn-round">
					<% end %>  	
					<%= activity.trackable.job_description.job_title %></span>
					<% else %>
					
					<% if activity.trackable.company.deal? %>
					<span class="btn btn-warning btn-xs btn-round">
						<% else %>  
						<span class="btn btn-default btn-xs btn-round">
							<% end %>  	

							<%= activity.trackable.name %>	
						</span>
						to <%=link_to activity.trackable.company.company_name, admin_company_url(activity.trackable ,tab: "company"), class: "btn btn-success btn-xs btn-round" %> for a role as: <span class="btn btn-info btn-xs btn-round"><%= activity.trackable.job_description.job_title %></span>
						<% end %>	
					</td>
					<td>
						<button class="btn btn-default btn-sm btn-round">	
							<%= activity.updated_at.strftime("%B %d, %Y") %> at <%= activity.updated_at.strftime("%r") %>
						</button>  
					</td>
					<% end %>	
				</tr>	