<div class="col-md-12">
	<div class="card">
		<div class="card-header" data-background-color="purple">
			<h4 class="title">News Feed</h4>
			<p class="category">Real life feed of activities</p>
		</div>
		<div class="card-content table-responsive">
			<table class="table">
				<thead class="text-primary">
					<th>Stories</th>
					<th>Timestamp</th>
				</thead>
				<tbody>
				<% if @feed.any? %>
				<% @feed.each do |activity| %>
				   <% if activity.action == "create" && activity.trackable_type == "Company" %>    
					 
					 <%= render "created_company", activity: activity %>
				   
				   <% elsif activity.action == "no deal" && activity.trackable_type == "Company" %>    
					
					 <%= render "no_deal_with_company", activity: activity %>

				   <% elsif activity.action == "deal" && activity.trackable_type == "Company" %>

				     <%= render "deal_with_company", activity: activity %>

					<% elsif activity.action == "inactive" && activity.trackable_type == "Company" %>
					  
					  <%= render "inactive_company", activity: activity %>

					<% elsif activity.action == "create" && (activity.trackable_type == "JobDescription" && activity.permitted? ) %>
					
					  <%= render "created_job_description", activity: activity %>	

				   <% elsif activity.action == "added an applicant" && activity.trackable_type == "Applicant" %>
				   
				     <%= render "added_applicant", activity: activity %>	

					<% elsif (activity.action == "not hired" || activity.action == "hired") && activity.trackable_type == "Applicant" %>
					
					  <%= render "not_hired_vs_hired_applicant", activity: activity %>
					
					<% elsif activity.action == "update" && activity.trackable_type == "Applicant" %>
					
					  <%= render "updated_applicant", activity: activity %>	
					
					<% elsif activity.action == "inactive" && activity.trackable_type == "JobDescription" %>
					  
					  <%= render "inactive_job_description", activity: activity %>

				  <% end %>	
				<% end %>

				<% else %>
			    <tr>
			    	<td>no data</td>
			    	<td>no data</td>
			    </tr>	
				<% end %>
				</tbody>
			</table>

		</div>
	</div>
</div>
<%= javascript_include_tag "admin/jquery-3.1.0.min" %>
<%= javascript_include_tag "admin/bootstrap.min" %>
<%= javascript_include_tag "admin/material.min" %>
<%= javascript_include_tag "admin/chartist.min" %>
<%= javascript_include_tag "admin/bootstrap-notify" %>
<%= javascript_include_tag "admin/material-dashboard" %>

