<div class="col-md-12">
	<div class="card">
		<div class="card-header" data-background-color="purple">
			<h4 class="title">News Feed</h4>
			<p class="category">Real life feed of activities</p>
		</div>
		<div class="card-content table-responsive">
			<table class="table">
				<thead class="text-primary">
					<th>Stories</th>
					<th>Earnings</th>
				</thead>
				<tbody>
					<tr>
						<td>user34234 just brought in Meltwater</td>
						<td class="text-primary">$36,738</td>
					</tr>
					<tr>
						<td>user34234 just brought in Meltwater</td>
						<td class="text-primary">$23,789</td>
					</tr>
					<tr>
						<td>user34234 just brought in Meltwater</td>
						<td class="text-primary">$56,142</td>
					</tr>
					<tr>
						<td>user34234 just brought in Meltwater</td>
						<td class="text-primary">$38,735</td>
					</tr>
					<tr>
						<td>user34234 just brought in Meltwater</td>
						<td class="text-primary">$63,542</td>
					</tr>
					<tr>
						<td>user34234 just brought in Meltwater</td>
						<td class="text-primary">$78,615</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>
<%= javascript_include_tag "admin/jquery-3.1.0.min" %>
<%= javascript_include_tag "admin/bootstrap.min" %>
<%= javascript_include_tag "admin/material.min" %>
<%= javascript_include_tag "admin/chartist.min" %>
<%= javascript_include_tag "admin/bootstrap-notify" %>
<%= javascript_include_tag "admin/material-dashboard" %>