<% if current_user.admin? %>
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
					<div class="card-header" data-background-color="green">
						<i class="material-icons">monetization_on</i>
					</div>
					<div class="card-content">
						<p class="category">Total Revenue</p>
						<h3 class="title"> GHS <%= @total_revenue.nil? ? "0.0" : @total_revenue %></h3>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">date_range</i> Last 24 Hours
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
					<div class="card-header" data-background-color="green">
						<i class="material-icons">people</i>
					</div>
					<div class="card-content">
						<p class="category">Total Hired Applicants</p>
						<h3 class="title"><%= @number_of_hired_applicants %></h3>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">date_range</i> Since 3/4/2017
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
					<div class="card-header" data-background-color="red">
						<i class="material-icons">business_center</i>
					</div>
					<div class="card-content">
						<p class="category">Business Deals</p>
						<h3 class="title"><%= @number_of_deals %></h3>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">date_range</i> Since 3/4/2017
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="card card-stats">
					<div class="card-header" data-background-color="blue">
						<i class="material-icons">person</i>
					</div>
					<div class="card-content">
						<p class="category">Top Earner</p>
						<h3 class="title"><%= @top_earner.nil? ? "-" : @top_earner.username %></h3>
					</div>
					<div class="card-footer">
						<div class="stats">
							<i class="material-icons">update</i> Just Updated
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% else %>
<%= link_to "create an account", new_user_registration_url, class: "btn btn-default" %> OR <%= link_to "Log In", new_user_session_url, class: "btn btn-primary" %> to gain access. 
<% end %>
<%= javascript_include_tag "admin/jquery-3.1.0.min" %>
<%= javascript_include_tag "admin/bootstrap.min" %>
<%= javascript_include_tag "admin/material.min" %>
<%= javascript_include_tag "admin/chartist.min" %>
<%= javascript_include_tag "admin/bootstrap-notify" %>
<%= javascript_include_tag "admin/material-dashboard" %>