<div class="card">
  <div class="card-header" data-background-color="blue">
    NOTE!! Only fill the out the applicant form if the applicant fits the job description
  </div>	
</div>

<br/>
<div class="col-md-6">
	<div class="card">
		<div class="card-header" data-background-color="purple">
			<h4 class="title">Job Description For 
			<% if @jd.company.user == current_user %>
			<% else %>	
			  <%= @jd.company.alias_name %></h4>
			<% end %>
		</div>
		<div class="card-content">
		<span class="text-primary">Brief Description</span>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Job Title</label>
						<%= @jd.job_title %>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group label-floating">
						<label class="control-label">Experience(yrs)</label>
						<%= @jd.experience %> 
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Minimum Salary</label>
						<%= @jd.min_salary %>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Maximum Salary</label>
						<%= @jd.max_salary %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Vacancies</label>
						<%= @jd.vacancies %>
					</div>
				</div>
			</div>
			
			<br/>
			<br/>
			<hr>


	
			  <div class="row">
				  <div class="col-md-12">
				    <div class="form-group label-floating">
					  <span class="text-primary">Required Qualifications</span>
					    <% if @jd.qualifications.any? %>
					       <table>
					       <% @q = 0 %>
						  <% @jd.qualifications.each do |qualification| %>		
						  <% @q += 1 %>					   
								<tr>
								  <td class="col-md-1"><%= @q %>. <%= qualification.certificate %></td> <td class="col-md-1">in</td> <td class="col-md-4"><%= qualification.field_of_study %></td> 				 	  
							    </tr>
						<br/>

						  <% end %>
						  </table>
						<% else %>
						<p>No Qualifications Provided</p>  
						<% end %>
					</div>
				</div>
			</div>

			<br/>
			<br/>
			<hr>


			<div class="row">
			  <div class="col-md-12">
			    <div class="form-group label-floating">
				  <span class="text-primary">Required Experiences</span>
				    <% if @jd.required_experiences.any? %>
				    <table>
				    <% @re = 0 %>
					  <% @jd.required_experiences.each do |required_experience| %>
					  <% @re += 1 %>
						  <tr>
							   <td class="col-md-2"><%= @re %>. <%= required_experience.years %> years</td><td class="col-md-1">of</td><td class="col-md-4"><%= required_experience.experience %></td>  
							  </td>
						  </tr>
					<% end %>
					</table>
					<% else %>
					<p>No Experience Provided</p> 
					<% end %>
				</div>
			</div>
		</div>

	    <br/>
		<br/>
		<hr>

	    <div class="row">
			  <div class="col-md-12">
			    <div class="form-group label-floating">
				  <span class="text-primary">Compulsory Requirements</span>
				    <% if @jd.requirements.any? %>
				    <table>
				    <% @c = 0 %>
					  <% @jd.requirements.each do |requirement| %>
					  <% @c+= 1 %>
						  <tr>
							  <td class="col-md-4"><%= @c %>.<%= requirement.content %></td>  
						    </tr>
					<% end %>
					</table>
					<% else %>
					<p>No Requirements Listed</p>
					<% end %>
				</div>
			</div>
		</div>
	</div>



</div>
</div>

<% if @jd.role_expired? %>
<div class="col-md-6">
	<div class="card">
		<div class="card-header" data-background-color="red">
		<h4 class="title">
		 <i class="material-icons">warning</i> This Role Has Expired!
		</div>
		<div class="card-content">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label"><%= pluralize(@jd.applicants.count, "Applicant") %></label>
						<% @jd.applicants.each do |applicant| %>
						  <% if applicant.persisted? %>
						    <%= link_to [@jd, applicant] do %>
						      <button class="btn btn-primary btn-xs btn-round">
						        <%= applicant.name %>
						      </button>
						    <% end %>
						  <% end %>
						  <br>
						<% end %>
				</div>
				</div>
			</div>			
		</div>
	</div>
</div>
<% else %>
<% if @jd.vacancies > @jd.applicants.count && !@applicant.updated? %>
<div class="col-md-6">
	<div class="card">
		<div class="card-header" data-background-color="purple">
		<h4 class="title">
		<% if @applicant.persisted? %>
		   Edit
		<% else %>   	
		   Add
		<% end %>   
		 Applicant for role as <%= @jd.job_title %> at <%= @jd.company.alias_name %></h4>
			<p class="category"></p>
		</div>
		<div class="card-content">
			<%= simple_form_for([jd, applicant]) do |f| %>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Fullname</label>
						<%= f.input :name, label: false, required: true, autofocus: true, placeholder: "full name", class: "form-control" %>
					</div>
				</div>

				<div class="col-md-3">
					<div class="form-group label-floating">
						<label class="control-label">Email</label>
						<%= f.input :email, label: false, required: true, placeholder: "email", class: "form-control" %>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Phonenumber</label>
						<%= f.input :phonenumber, label: false, required: true, placeholder: "phonenumber", maxlength: "10", class: "form-control" %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="form-group label-floating">
						<label class="control-label">Location</label>
						<%= f.input :location, label: false, required: true, placeholder: "your location/place of residence", class: "form-control" %>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-md-6">
					<div class="form-group label-floating">
						<label class="control-label">Mininum salary</label>
						<%= f.input :min_salary, label: false, required: true, class: "form-control" %>
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group label-floating">
						<label class="control-label">Maxinum salary</label>
						<%= f.input :max_salary, label: false, required: true, class: "form-control" %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
					<div class="form-group label-floating">
						<label class="control-label">Attachment(CV/Resume)</label>
						<label class="mdl-button mdl-js-button mdl-button--icon mdl-button--file">
						  add file<i class="material-icons">attach_file</i><%= f.input :cv, as: :file, label: false %>
						  <%= f.input :cv_cache, as: :hidden, label: false %>
						</label>
					</div>
				</div>
			</div>
			<div class="row">
			  <div class="col-md-6">
			    <div class="form-group label-floating">
			      <label class="control-label">Requirement Score</label>
			          <%= f.simple_fields_for :requirement_scores, @applicant.requirement_scores do |ff| %>
			            <%= ff.object.requirement_content %>
			            <%= ff.input :score, label: false, as: :boolean, checked_value: 1.0, unchecked_value: 0.0 %>
			            <%= ff.hidden_field :requirement_content, :value => ff.object.requirement_content %>
			            <%= ff.hidden_field :requirement_id, :value => ff.object.requirement_id %>
			            <%= ff.hidden_field :job_description_id, :value => ff.object.job_description_id %>
			          <% end %>	
			    </div>				  	
			  </div>	
			</div>
			<div class="clearfix">
			  <div class="row">
				<%= f.button :submit, "Done", class: "btn btn-primary btn-xs btn-round pull-right" %>
			  </div>	
			  <div class="row">	
				<%= link_to "Back", :back, class: "btn btn-primary btn-xs btn-round pull-right" %>
			  </div>	
			</div>
			<% end %>
		</div>
	</div>
</div>
<% elsif @applicant.updated? %>
  <div class="col-md-6">
	<div class="card">
		<div class="card-header" data-background-color="purple">
		<h4 class="title">
		<% if @applicant.persisted? %>
		   Edit
		<% else %>   	
		   Add
		<% end %>   
		 Applicant for role as <%= @jd.job_title %> at <%= @jd.company.alias_name %></h4>
			<p class="category"></p>
		</div>
		<div class="card-content">
			<%= simple_form_for([jd, applicant]) do |f| %>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Fullname</label>
						<%= f.input :name, label: false, required: true, autofocus: true, placeholder: "full name", class: "form-control" %>
					</div>
				</div>

				<div class="col-md-3">
					<div class="form-group label-floating">
						<label class="control-label">Email</label>
						<%= f.input :email, label: false, required: true, placeholder: "email", class: "form-control" %>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Phonenumber</label>
						<%= f.input :phonenumber, label: false, required: true, placeholder: "phonenumber", maxlength: "10", class: "form-control" %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="form-group label-floating">
						<label class="control-label">Location</label>
						<%= f.input :location, label: false, required: true, placeholder: "your location/place of residence", class: "form-control" %>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-md-6">
					<div class="form-group label-floating">
						<label class="control-label">Mininum salary</label>
						<%= f.input :min_salary, label: false, required: true, class: "form-control" %>
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group label-floating">
						<label class="control-label">Maxinum salary</label>
						<%= f.input :max_salary, label: false, required: true, class: "form-control" %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
					<div class="form-group label-floating">
						<label class="control-label">Attachment(CV/Resume)</label>
						<label class="mdl-button mdl-js-button mdl-button--icon mdl-button--file">
						  add file<i class="material-icons">attach_file</i><%= f.input :cv, as: :file, label: false %>
						  <%= f.input :cv_cache, as: :hidden, label: false %>
						</label>
					</div>
				</div>
			</div>
			<div class="row">
			  <div class="col-md-6">
			    <div class="form-group label-floating">
			      <label class="control-label">Requirement Score</label> 
			      <%= f.simple_fields_for :requirement_scores do |ff| %>
			          <%= ff.object.requirement_content %>
			          <%= ff.input :score, label: false, as: :boolean, checked_value: 1.0, unchecked_value: 0.0 %>
			          <%#= ff.hidden_field :requirement_id, :value => ff.object.requirement_id %>
			          <%#= ff.hidden_field :job_description_id, :value => ff.object.job_description_id %>  
			       <% end %>	
			    </div>				  	
			  </div>	
			</div>
			<div class="clearfix">
			  <div class="row">
				<%= f.button :submit, "Done", class: "btn btn-primary btn-xs btn-round pull-right" %>
			  </div>	
			  <div class="row">	
				<%= link_to "Back", :back, class: "btn btn-primary btn-xs btn-round pull-right" %>
			  </div>	
			</div>
			<% end %>
		</div>
	</div>
</div>
<% elsif @jd.vacancies == @jd.applicants.count && !@applicant.updated? %>
<div class="col-md-6">
	<div class="card">
		<div class="card-header" data-background-color="blue">
		<h4 class="title">
		  No more Vacancies. You have filled up available vacancies for <%= @jd.job_title %>
		</div>
		<div class="card-content">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label"><%= pluralize(@jd.applicants.count, "Applicant") %></label>
						<% @jd.applicants.each do |applicant| %>
						  <% if applicant.persisted? %>
						    <%= link_to [@jd, applicant] do %>
						      <button class="btn btn-primary btn-xs btn-round">
						        <%= applicant.name %>
						      </button>
						    <% end %>
						  <% end %>
						  <br>
						<% end %>
				</div>
				</div>
			</div>			
		</div>
	</div>
</div>
<% end %>
<% end %>

