<div class="card">
  <div class="card-header" data-background-color="blue">
    NOTE!! Only fill the out the applicant form if the applicant fits the job description
  </div>	
</div>

<br/>
<div class="col-md-6">
	<div class="card">
		<div class="card-header" data-background-color="purple">
			<h4 class="title">Job Description For 
			<% if @jd.company.user == current_user %>
			<% else %>	
			  <%= @jd.company.alias_name %></h4>
			<% end %>
		</div>
		<div class="card-content">
		<span class="text-primary">Brief Description</span>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Job Title</label>
						<%= @jd.job_title %>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group label-floating">
						<label class="control-label">Experience(yrs)</label>
						<%= @jd.experience %> 
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Minimum Salary</label>
						<%= @jd.min_salary %>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Maximum Salary</label>
						<%= @jd.max_salary %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Vacancies</label>
						<%= @jd.vacancies %>
					</div>
				</div>
			</div>
.
			<% if @jd.completed? %>
			<% else %>
			<div class="row">
			   <%= link_to update_button_for_jd_url(@jd), method: :patch, class: "btn btn-primary btn-xs btn-round" do %>
				 <i class="material-icons">edit</i> brief description 
                <% end %>	
			</div>
			<% end %>

			<br/>
			<br/>
			<hr>


	
			  <div class="row">
				  <div class="col-md-12">
				    <div class="form-group label-floating">
					  <span class="text-primary">Required Qualifications</span>
					    <% if @jd.qualifications.any? %>
					       <table>
						  <% @jd.qualifications.each do |qualification| %>
						    
						    <% if qualification.updated? %>
							    <tr>
								  <%= simple_form_for([@jd, qualification]) do |f| %>
								    <td class="col-md-1"><%= f.input :certificate, label: false %></td> <td class="col-md-1">in</td>  <td class="col-md-4"><%= f.input :field_of_study, label: false %></td>
									<td class="col-md-2"><%= f.button :submit, "update", class: "btn btn-primary btn-xs btn-round" %></td>
									<% end %>
								</tr>
								<br/>
							<% else %>
								<tr>
								  <td class="col-md-1"><%= qualification.certificate %></td> <td class="col-md-1">in</td> <td class="col-md-4"><%= qualification.field_of_study %></td> 

								  <% if @jd.completed? %>
								  <% else %>
								  <td class="col-md-1">
								    <%= link_to update_button_for_qualification_url(qualification), method: :patch do %>
									<button type="button" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
										<i class="material-icons">edit</i>
									</button>
									<% end %>
								  </td>	
								  <td class="col-md-1">
								    <%= link_to job_description_qualification_url(@jd, qualification), method: :delete, data: { confirm: "Are you sure you want to delete this qualification?"} do %>
									<button type="button" title="Remove" class="btn btn-primary btn-simple btn-xs">
										<i class="material-icons">close</i>
									</button>
									 <% end %>
							 	  </td>
							 	  <% end %>

							    </tr>
						      
						    <% end %>

						<br/>

						  <% end %>
						  </table>
						<% else %>
						<p>No Qualifications Provided</p>  
						<% end %>
					</div>
				</div>
			</div>

			<% if @jd.completed? %>
			<% else %>
			<div class="row">
				<%= link_to new_job_description_qualification_url(@jd), class: "btn btn-primary btn-xs btn-round" do %>
				<i class="material-icons">add</i>required qualification
				<% end %>	  
			</div>
			<% end %>

			<br/>
			<br/>
			<hr>


			<div class="row">
			  <div class="col-md-12">
			    <div class="form-group label-floating">
				  <span class="text-primary">Required Experiences</span>
				    <% if @jd.required_experiences.any? %>
				    <table>
					  <% @jd.required_experiences.each do |required_experience| %>
					    <% if required_experience.updated? %>
						
						    <tr>
							  <%= simple_form_for([@jd, required_experience]) do |f| %>
							    <td class="col-md-2"><%= f.input :years, label: false %> <td class="col-md-1">years</td></td><td class="col-md-1">of</td><td class="col-md-4"><%= f.input :experience, label: false %></td>   
								<td><%= f.button :submit, "update", class: "btn btn-primary btn-xs btn-round" %></td>
								<% end %>
							</tr>
							<br/>
						<% else %>
						  <tr>
							   <td class="col-md-2"><%= required_experience.years %> years</td><td class="col-md-1">of</td><td class="col-md-4"><%= required_experience.experience %></td>  
							  <% if @jd.completed? %>
							  <% else %>
							  <td class="col-md-1">
								<%= link_to update_button_for_exp_url(required_experience), method: :patch do %>
								<button type="button" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
									<i class="material-icons">edit</i>
								</button>
								<% end %>
							  </td>	
							  <td class="col-md-1">
							    <%= link_to job_description_required_experience_url(@jd, required_experience), method: :delete, data: { confirm: "Are you sure you want to delete this experience?"} do %>
								<button type="button" title="Remove" class="btn btn-primary btn-simple btn-xs">
									<i class="material-icons">close</i>
								</button>
								<% end %>
							  </td>
							  <% end %>
						    </tr>
					      
					<% end %>
					<br/>
					
					

					<% end %>
					</table>
					<% else %>
					<p>No Experience Provided</p> 
					<% end %>
				</div>
			</div>
		</div>

		<% if @jd.completed? %>
		<% else %>
		<div class="row">
		<%= link_to new_job_description_required_experience_url(@jd), class: "btn btn-primary btn-xs btn-round" do %>
		<i class="material-icons">add</i>required experience
		<% end %>	  
	    </div>
	    <% end %>

	    <br/>
		<br/>
		<hr>

	    <div class="row">
			  <div class="col-md-12">
			    <div class="form-group label-floating">
				  <span class="text-primary">Compulsory Requirements</span>
				    <% if @jd.requirements.any? %>
				    <table>
					  <% @jd.requirements.each do |requirement| %>
					    <% if requirement.updated? %>
						
						    <tr>
							  <%= simple_form_for([@jd, requirement]) do |f| %>
							    <td class="col-md-4"><%= f.input :content, label: false %></td> 
								<td class="col-md-2"><%= f.button :submit, "update", class: "btn btn-primary btn-xs btn-round" %></td>
								<% end %>
							</tr>
							<br/>
						<% else %>
						  <tr>
							  <td class="col-md-4"><%= requirement.content %></td>  
							  <% if @jd.completed? %>
							  <% else %>
							  <td class="col-md-1">
								<%= link_to update_button_for_rq_url(requirement), method: :patch do %>
								<button type="button" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
									<i class="material-icons">edit</i>
								</button>
								<% end %>
							  </td>	
							  <td class="col-md-1">
							    <%= link_to job_description_requirement_url(@jd, requirement), method: :delete, data: { confirm: "Are you sure you want to delete this experience?"} do %>
								<button type="button" title="Remove" class="btn btn-primary btn-simple btn-xs">
									<i class="material-icons">close</i>
								</button>
								<% end %>
							  </td>
							  <% end %>
						    </tr>
					      
					<% end %>
					<br/>
					
					

					<% end %>
					</table>
					<% else %>
					<p>No Requirements Listed</p>
					<% end %>
				</div>
			</div>
		</div>


		<% if @jd.completed? %>
		<% else %>
		<div class="row">
		  <%= link_to new_job_description_requirement_url(@jd), class: "btn btn-primary btn-xs btn-round" do %>
		    <i class="material-icons">add</i>compulsory requirement
		  <% end %>	  
	    </div>
	    <% end %>
	</div>



</div>
</div>


<% if @jd.vacancies > @jd.applicants.count %>
<div class="col-md-6">
	<div class="card">
		<div class="card-header" data-background-color="purple">
		<h4 class="title">
		<% if @applicant.persisted? %>
		   Edit
		<% else %>   	
		   Add
		<% end %>   
		 Applicant for role as <%= @jd.job_title %> at <%= @jd.company.alias_name %></h4>
			<p class="category"></p>
		</div>
		<div class="card-content">
			<%= simple_form_for([jd, applicant]) do |f| %>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Fullname</label>
						<%= f.input :name, label: false, required: true, autofocus: true, placeholder: "full name", class: "form-control" %>
					</div>
				</div>

				<div class="col-md-3">
					<div class="form-group label-floating">
						<label class="control-label">Email</label>
						<%= f.input :email, label: false, required: true, placeholder: "email", class: "form-control" %>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Phonenumber</label>
						<%= f.input :phonenumber, label: false, required: true, placeholder: "phonenumber", maxlength: "10", class: "form-control" %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="form-group label-floating">
						<label class="control-label">Location</label>
						<%= f.input :location, label: false, required: true, placeholder: "your location/place of residence", class: "form-control" %>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-md-6">
					<div class="form-group label-floating">
						<label class="control-label">Mininum salary</label>
						<%= f.input :min_salary, label: false, required: true, class: "form-control" %>
					</div>
				</div>

				<div class="col-md-6">
					<div class="form-group label-floating">
						<label class="control-label">Maxinum salary</label>
						<%= f.input :max_salary, label: false, required: true, class: "form-control" %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
					<div class="form-group label-floating">
						<label class="control-label">Attachment</label>
						<%= f.input :attachment, label: false %>
					</div>
				</div>
			</div>
			<div class="row">
			  <div class="col-md-6">
			    <div class="form-group label-floating">
			      <label class="control-label">Requirement Score</label>
			      <% @jd.requirements.each do |requirement| %>
			        <p><%= requirement.content %></p>   
			          <%= f.simple_fields_for :requirement_scores do |ff| %>
			            <div class="rs"><%= ff.input :score, label: false, as: :boolean, checked_value: 1.0, unchecked_value: 0.0 %>
			            	<%= ff.hidden_field :requirement_content, :value => requirement.content %>
			            	<%= ff.hidden_field :requirement_id, :value => requirement.id %>
			            	<%= ff.hidden_field :job_description_id, :value => requirement.job_description_id %>
			            </div>
			          <% end %>	
			      <% end %>    
			    </div>				  	
			  </div>	
			</div>
			<div class="clearfix">
			  <div class="row">
				<%= f.button :submit, "Done", class: "btn btn-primary btn-xs btn-round pull-right" %>
			  </div>	
			  <div class="row">	
				<%= link_to "Back", :back, class: "btn btn-primary btn-xs btn-round pull-right" %>
			  </div>	
			</div>
			<% end %>
		</div>
	</div>
</div>
<% else %>
<div class="col-md-6">
	<div class="card">
		<div class="card-header" data-background-color="blue">
		<h4 class="title">
		  No more Vacancies. You have filled up available vacancies for <%= @jd.job_title %>
		</div>
		<div class="card-content">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label"><%= pluralize(@jd.applicants.count, "Applicant") %></label>
						<% @jd.applicants.each do |applicant| %>
						  <% if applicant.persisted? %>
						    <%= link_to [@jd, applicant] do %>
						      <button class="btn btn-primary btn-xs btn-round">
						        <%= applicant.name %>
						      </button>
						    <% end %>
						  <% end %>
						  <br>
						<% end %>
				</div>
				</div>
			</div>			
		</div>
	</div>
</div>
<% end %>

