<div class="col-md-8">
	<div class="card">
		<div class="card-header" data-background-color="purple">
			<h4 class="title">
		    <% if @qualification.persisted? %>
		      Edit
		    <% else %>
		      Add  
		    <% end %>
			Qualification for the role of <%= @jd.job_title %> at <%= @jd.company.company_name %></h4>
		</div>
		<div class="card-content">
			<%= simple_form_for([jd, qualification]) do |f| %>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Degree</label>
						<%= f.input :certificate, placeholder: "BSc", label: false, class: "form-control" %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Field of study/Course</label>
						<%= f.input :field_of_study, placeholder: "Accounting", label: false, class: "form-control" %>
					</div>
				</div>
			</div>

			<%= f.button :submit, "Submit", class: "btn btn-primary btn-round pull-right" %>
			<div class="clearfix"></div>
			<%= link_to "Back", :back, class: "btn btn-primary btn-round pull-right" %>
			<% end %>
		</div>
	</div>
</div>
