<div class="col-md-8">
	<div class="card">
		<div class="card-header" data-background-color="purple">
			<h4 class="title">
		    <% if @qualification.persisted? %>
		      Edit
		    <% else %>
		      Add a 
		    <% end %>
			Qualification for the role of <%= @jd.job_title %> at <%= @jd.company.company_name %></h4>
		</div>
		<div class="card-content">
			<%= simple_form_for([jd, qualification]) do |f| %>
			<% if f.object.errors.any? %>
			<div class="alert alert-danger">  
				<% f.object.errors.full_messages.uniq.each do |msg| %>
				  <%= msg %>
				<br>
				<% end %>
			</div> 
			<% end %>

			<div class="row">
			  <div class="col-md-12">
				<% @q = 0 %>
			    <% if @jd.qualifications.any? %>
			      <% @jd.qualifications.where(copy: false).each do |qualification| %>
				  <% @q += 1 %>	
				  <div class="row">
				    <td class="col-md-1"><%= @q %>. <%= qualification.certificate %></td> <td class="col-md-1">in</td> <td class="col-md-4"><%= qualification.field_of_study %></td> 
				  </div>  
				  <% end %>
				<% end %>
			  </div>	
			</div>

			<div class="row">
				<div class="col-md-2">
					<div class="form-group label-floating">
						<label class="control-label">Degree</label>
						<%= f.input :certificate, placeholder: "BSc", label: false, class: "form-control" %>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Field of study/Course</label>
						<%= f.input :field_of_study, placeholder: "Accounting", label: false, class: "form-control" %>
					</div>
				</div>
			</div>


			<div class="row">
			  <%= f.button :submit, "proceed later", class: "btn btn-primary btn-xs btn-round pull-right" %>
			  <%= f.button :submit, "Save and Next", class: "btn btn-primary btn-xs btn-round pull-right" %>
			  <%= f.button :submit, "Save and Add Another Requirement", class: "btn btn-primary btn-xs btn-round pull-right" %>			
			</div>
			<% end %>
		</div>
	</div>
</div>
