<div class="col-md-12">
	<div class="card">
		<div class="card-header" data-background-color="purple">
			<h4 class="title">Companies</h4>
			<p class="category">details of each company</p>
		</div>
		<div class="card-content">
			<table class="table">
				<thead class="text-primary">
					<th></th>
				    <th>Name of Company</th>
					<th>Referrer</th>
					<th>ClientName</th>
					<th>Role</th>
					<th>Contacted?</th>
					<th>Deal?</th>
					<th></th>
				</thead>
				<tbody>	
				  <% if @companies.any? %>
				  <% @companies.each do |company| %>		    
					<tr>
					    <td>
					    <% authorize? company do %>
					    <span class="dropdown">					      
					      <button class="dropdown-toggle btn btn-default btn-xs btn-round" data-toggle="dropdown">						  	
						  	  <i class="material-icons">keyboard_arrow_down</i>						    
						  </button>	
						  <% end %>	
						  
						  				  
						<ul class="dropdown-menu">	
    					  <li><%= link_to "set ownership", admin_set_role_url(resource_id: company.id, resource_type: company.class.name) %></li>
    					  <li><%= link_to "unset ownership", admin_unset_role_url(resource_id: company.id, resource_type: company.class.name) %></li>
						</ul> 	
						</span>
					    </td>
					    <td>
					      <%= link_to admin_company_url(company,  tab: "company") do %>
					        <button class="btn btn-primary btn-xs btn-round">
					          <%= company.company_name %>	
					        </button>
					      <% end %>  	
					    </td>
						<td>
						<%= link_to [:admin, company.user] do %>
						  <button class="btn btn-primary btn-xs btn-round">  
						    <%= company.user.username %>					
						  </button>
						<% end %>    		
						</td>
						<td><%= company.clientname %></td>
						<td><%= company.role %></td>
						<% if @company_id == company.id || @notifier_id == company.id %>
						<td id="pick" style="background-color: #FFFF70">
						<% else %>
						<td>
						<% end %>
						<div class="dropdown">
						<% if company.contacted? %>
						<a href="#" class="btn btn-primary btn-round  btn-xs dropdown-toggle" data-toggle="dropdown">
						Yes
						<% else %>
						<a href="#" class="btn btn-default btn-round  btn-xs dropdown-toggle" data-toggle="dropdown">
						No
						<% end %>
						</a>
						<ul class="dropdown-menu">
						<li>
							<% if company.contacted? %>
							  <%= link_to "No", admin_contact_company_url(company), method: :patch %>
							<% else %>
							  <%= link_to "Yes", admin_contact_company_url(company), method: :patch %>
							<% end %>
						</li>
						</ul>
						</div>
						</td>
						<td>
						<div class="dropdown">
						<% if company.deal? %>
						<a href="#" class="btn btn-primary btn-round  btn-xs dropdown-toggle" data-toggle="dropdown">
						Yes
						<% else %>
						<a href="#" class="btn btn-default btn-round  btn-xs dropdown-toggle" data-toggle="dropdown">
						No
						<% end %>
						</a>
						<ul class="dropdown-menu">
						<li>
							<% if company.deal? %>
							  <%= link_to "No Deal", admin_deal_with_company_url(company), method: :patch %>
							<% else %>
							  <%= link_to "Deal", admin_deal_with_company_url(company), method: :patch %>
							<% end %>
						</li>
						</ul>
						</div>
						</td>
						
						<td class="td-actions text-right">
							<%= link_to admin_company_url(company), method: :delete, data: { confirm: "Are you sure?" } do %>
							<button type="button" title="Remove" class="btn btn-danger btn-simple btn-xs">
								<i class="material-icons">close</i>
							</button>
							<% end %>
							<%= link_to admin_company_url(company,  tab: "company") do %>
								<i class="material-icons">visibility</i>
							<% end %>
						</td>  	
					</tr>
				  <% end %>
				  <% else %>
				    <tr>
				      <td></td>
				      <td>no data</td>
				      <td>no data</td>
				      <td>no data</td>
				      <td>no data</td>
				      <td>no data</td>
				      <td>no data</td>
				    </tr>	
				  <% end %>
				</tbody>
			</table>

		</div>
	</div>
</div>

<%= javascript_include_tag "admin/jquery-3.1.0.min" %>
<%= javascript_include_tag "admin/bootstrap.min" %>
<%= javascript_include_tag "admin/material.min" %>
<%= javascript_include_tag "admin/chartist.min" %>
<%= javascript_include_tag "admin/bootstrap-notify" %>
<%= javascript_include_tag "admin/material-dashboard" %>
<script type="text/javascript">
	$( document ).ready(function() {
		$("#pick").css("transition", "3s");
		$("#pick").css("background", "#fff");
	});	
</script>