<% if @company.updated? %>

<%= render "admin/companies/form", company: @company %>

<% else %>

<div class="col-lg-12 col-md-12">
<a name="job descriptions"></a>
	<div class="card card-nav-tabs">
		<div class="card-header" data-background-color="purple">
			<div class="nav-tabs-navigation">
				<div class="nav-tabs-wrapper">
					<span class="nav-tabs-title">Toggle</span>
					<ul class="nav nav-tabs" data-tabs="tabs">
						<li class="<%= @tab == "company" ? "active" : "" %>">
							<!-- <a href="#profile" data-toggle="tab">
								<i class="material-icons">business</i>
								Company
								<div class="ripple-container"></div></a> -->
								<%= link_to admin_company_url(@company, tab: "company") do %>
								  <i class="material-icons">business</i>
								Company: <%= @company.company_name %>
								<div class="ripple-container"></div>
								<% end %>
							</li>
							<li class="<%= @tab == "job descriptions" ? "active" : "" %>">
								<!-- <a href="#messages" data-toggle="tab">
									<i class="material-icons"></i>
									<%#= pluralize(@company.job_descriptions.count, "Job Description") %>
									<div class="ripple-container"></div></a> -->
							    <%= link_to admin_company_url(@company, tab: "job descriptions") do %>
							      <i class="material-icons"></i>
									<%= pluralize(@company.job_descriptions.count, "Job Description") %>
									<div class="ripple-container"></div></a>
							    <% end %>
								</li>
												<!-- <li class="">
													<a href="#settings" data-toggle="tab">
														<i class="material-icons">cloud</i>
														Server
													<div class="ripple-container"></div></a>
												</li> -->
											</ul>
										</div>
									</div>
								</div>

								<div class="card-content">
									<div class="tab-content">
										<div class="tab-pane <%= @tab == "company" ? "active" : "" %>" id="profile">
											<div class="row">
												<%#= link_to admin_update_button_for_company_url(@company), method: :patch do %>
												<!-- <button type="button" title="Edit Worth" class="btn btn-primary btn-simple btn-xs">
													<i class="material-icons">edit</i>
												</button> -->
												<%# end %>
											</div>
											<div class="card-content">
												<div class="row">
													<div class="col-md-3">
														<div class="form-group label-floating">
															<label class="control-label">Name Of Company</label>
															<%= @company.company_name %>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group label-floating">
															<label class="control-label">Name Of Client</label>
															<%= @company.clientname %> 
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group label-floating">
															<label class="control-label">Role/Position Of Client</label>
															<%= @company.role %>
														</div>
													</div>
												</div>

												<div class="row">
													<div class="col-md-3">
														<div class="form-group label-floating">
															<label class="control-label">Email</label>
															<%= @company.email %>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group label-floating">
															<label class="control-label">Phonenumber</label>
															<%= @company.phonenumber %>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group label-floating">
															<label class="control-label">url/website of company</label>
															<%= @company.url %>
														</div>
													</div>
												</div>

												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label>Brief Description of Company</label>
															<div class="form-group label-floating">
																<%= @company.about %>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
												  <%= link_to admin_update_button_for_company_url(@company), method: :patch, class: "btn btn-primary btn-xs btn-round pull-right" do %>
												    <i class="material-icons">edit</i> company details
												  <% end %>
												</div>
												<div class="row"> 
												  <%= link_to admin_company_url(@company, tab: "job descriptions"), class: "btn btn-primary btn-xs btn-round pull-right" do %>
												   <i class="material-icons"></i>
												  <%= pluralize(@company.job_descriptions.count, "Role") %>
												  <div class="ripple-container"></div></a>
												  <% end %>
												</div>  

												<div class="clearfix"></div>
											</div>
										</div>
										
										<div class="tab-pane <%= @tab == "job descriptions" ? "active" : "" %>" id="messages">
											<table class="table">
												<thead class="text-primary">
													<th>Job Title</th>
													<th>Exp(yrs)</th>
													<th>Min Salary</th>
													<th>Max Salary</th>
													<th>Vacancies</th>
													<th>Worth</th>
													<th>Percentage Worth(PW) of JD</th>
													<th>PW per each vacancy filled</th>
													<th></th>
													<th></th>
													<th></th>
												</thead>
												<tbody>
													<% if @company.job_descriptions.any? %>
													<% @company.job_descriptions.each do |jd| %>
													<tr>
														<td>
														  <%= link_to jd.job_title, admin_company_job_description_url(jd.company, jd) %>
														</td>

														<td>
														  <%= jd.experience %>
														</td>

														<td>
														  <%= jd.min_salary %>
														</td>

														<td>
														  <%= jd.max_salary %>		  	
														</td>

														<td>
														  <%= jd.vacancies %>
														</td>

														<% if jd.updated? %>
															<%= simple_form_for([:admin, jd.company, jd]) do |f| %>
															<td>
															  <%= f.input :worth, label: false %>
															</td>
															<td>  
															  <%= f.input :percent_worth, label: false %><td>%</td>
															</td>
															<td>
																
															</td>
															<td>
																<%= f.button :submit, "submit", class: "btn btn-primary btn-xs btn-round pull-right" %>
															</td>
															<td></td>
															<td></td>
															<% end %>
															<% else %>
															<td>
															  <button class="btn btn-success btn-xs btn-round">
																GHS <%= jd.worth || "0.00" %>
															  </button>
															</td> 
															<td>
															   <button class="btn btn-success btn-xs btn-round">
																<%= jd.percent_worth || "0.00" %>%
															  </button>	
															</td>  	
															<td></td>
															<td>
															<%= link_to admin_update_button_for_jd_url(jd), method: :patch do %>
															<button type="button" title="Edit Worth/percent worth" class="btn btn-primary btn-simple btn-xs">
																<i class="material-icons">edit</i>
															</button>
															<% end %>
															</td>
															<% end %>  	
														<td>
														<% unless jd.updated? %>	
														<%= link_to admin_company_job_description_url(jd.company, jd), class: "btn btn-primary btn-xs btn-round" do %>
															<i class="material-icons">visibility</i>Job Description
															<% end %>
														<% end %>	
														</td>

														<td>
														<% unless jd.updated? %>
														  <%= link_to admin_job_description_applicants_url(jd), class: "btn btn-primary btn-xs btn-round" do  %>	
														    <i class="material-icons">visibility</i><%= pluralize(jd.applicants.count, "Applicant") %>
														  <% end %>
														<% end %>  
														</td>
													</tr>
													<% end %>	

													<% else %>
													<tr>
														<td>No data</td>
														<td>No data</td>
														<td>No data</td>
														<td>No data</td>
														<td>No data</td>
														<td>No data</td>
														<td>No data</td>
														<td>No data</td>
														<td>No data</td>
														<td>No data</td>
													</tr>

													<% end %>
												</tbody>
											</table>
											<%#= link_to "Add Job Description", new_admin_company_job_description_url(@company), class: "btn btn-primary pull-right" %>
										</div>
										<div class="tab-pane" id="settings">
											<!-- <table class="table">
												<tbody>
													<tr>
														<td>
															<div class="checkbox">
																<label>
																	<input type="checkbox" name="optionsCheckboxes">
																</label>
															</div>
														</td>
														<td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
														<td class="td-actions text-right">
															<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
																<i class="material-icons">edit</i>
															</button>
															<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
																<i class="material-icons">close</i>
															</button>
														</td>
													</tr>
													<tr>
														<td>
															<div class="checkbox">
																<label>
																	<input type="checkbox" name="optionsCheckboxes" checked>
																</label>
															</div>
														</td>
														<td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
														</td>
														<td class="td-actions text-right">
															<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
																<i class="material-icons">edit</i>
															</button>
															<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
																<i class="material-icons">close</i>
															</button>
														</td>
													</tr>
													<tr>
														<td>
															<div class="checkbox">
																<label>
																	<input type="checkbox" name="optionsCheckboxes">
																</label>
															</div>
														</td>
														<td>Sign contract for "What are conference organizers afraid of?"</td>
														<td class="td-actions text-right">
															<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
																<i class="material-icons">edit</i>
															</button>
															<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
																<i class="material-icons">close</i>
															</button>
														</td>
													</tr>
												</tbody>
											</table> -->
										</div>
									</div>
								</div>
							</div>
						</div>

						<% end %>
						<%= javascript_include_tag "admin/jquery-3.1.0.min" %>
						<%= javascript_include_tag "admin/bootstrap.min" %>
						<%= javascript_include_tag "admin/material.min" %>
						<%= javascript_include_tag "admin/chartist.min" %>
						<%= javascript_include_tag "admin/bootstrap-notify" %>
						<%= javascript_include_tag "admin/material-dashboard" %>