<div class="col-md-8">
	<div class="card">
		<div class="card-header" data-background-color="purple">
			<h4 class="title">Requirement for for role as <%= @jd.job_title %> at <%= @jd.company.company_name %></h4>
		</div>
		<div class="card-content">
			<%= simple_form_for([jd, requirement]) do |f| %>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Requirement</label>
						<%= f.input :content, label: false, class: "form-control" %>
					</div>
				</div>
			</div>

			<%= f.button :submit, "Done", class: "btn btn-primary btn-xs btn-round pull-right" %>
			<div class="clearfix"></div>
			<%#= link_to "Back to requirments", job_description_requirements_url(@jd), class: "btn btn-primary btn-round pull-right" %>
			<%= link_to "Back", :back, class: "btn btn-primary btn-xs btn-round pull-right" %>
			<% end %>
		</div>
	</div>
</div>
