<div class="col-md-8">
	<div class="card">
		<div class="card-header" data-background-color="purple">
			<h4 class="title">Requirement for for role as <%= @jd.job_title %> at <%= @jd.company.company_name %></h4>
		</div>
		<div class="card-content">
			<%= simple_form_for([jd, requirement]) do |f| %>
			<% if f.object.errors.any? %>
			<div class="alert alert-danger">  
				<% f.object.errors.full_messages.uniq.each do |msg| %>
				  <%= msg %>
				<br>
				<% end %>
			</div> 
			<% end %>

			<div class="row">
			  <div class="col-md-12">
				<% @c = 0 %>
			    <% if @jd.requirements.any? %>
			      <% @jd.requirements.where(copy: false).each do |requirement| %>
				  <% @c += 1 %>	
				  <div class="row">
				    <td class="col-md-1"><%= @c %>. <%= requirement.content %></td> 
				  </div>  
				  <% end %>
				<% end %>
			  </div>	
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Requirement</label>
						<%= f.input :content, label: false, class: "form-control" %>
					</div>
				</div>
			</div>
			<div class="row">
			  <%= link_to "Back", new_job_description_required_experience_url(@jd), class: "btn btn-primary btn-xs btn-round" %>
			  <%= f.button :submit, "proceed later", class: "btn btn-primary btn-xs btn-round pull-right" %>
			  <%= f.button :submit, "Save and Add Another Requirement", class: "btn btn-primary btn-xs btn-round pull-right" %>			
			</div>
		 </div>
			<% end %>
		</div>
	</div>
</div>
