<div class="col-md-12">
	<div class="card">
		<div class="card-header" data-background-color="purple">
			<h4 class="title">Requirements</h4>
		</div>
		<div class="card-content table-responsive">
			<table class="table">
				<thead class="text-primary">
					<th></th>
					<th>Requirement</th>
					<th></th>
				</thead>
				<% if @requirements.any? %>
				<tbody>
					<% @no = 0 %>
					<% @requirements.each do |requirement| %>
					<% @no += 1 %>
					<% if requirement.updated? %>
					  	<%= simple_form_for([@jd, requirement]) do |f| %>
					  	<tr>
					  	  <td><%= @no %></td>
					  	  <td><%= f.input :content, label: false, class: "form-control" %></td>
					  	  <td><%= f.button :submit, "update", class: "btn btn-primary pull-right" %></td>
					  	</tr>
					  	<% end %>
					<% else %>
					<tr>
						<td><%= @no %></td>
						<td><%= requirement.content %></td>
						<td>
							<%= link_to update_button_for_rq_url(requirement), method: :patch do %>
							<button type="button" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
								<i class="material-icons">edit</i>
							</button>  
							<% end %>	
							<%= link_to job_description_requirement_url(@jd, requirement), method: :delete, data: { confirm: "Are you sure?" } do %>
							<button type="button" title="Remove" class="btn btn-primary btn-simple btn-xs">
								<i class="material-icons">close</i>
							</button>  
							<% end %>	
						</td>
					</tr>
					<% end %>
					<% end %>
					<% else %>
					<tr>
						<td></td>
						<td>no content</td>
						<td></td>	
					</tr>					
				</tbody>
				<% end %>
			</table>
			<div class="row">
			<% if @jd.company.user == current_user %>
				<%= link_to "Add Requirement", new_job_description_requirement_url(@jd), class: "btn btn-primary pull-right" %>
			<% end %>	
			</div>
			<div class="row">
				<%= link_to "Back to #{@jd.company.company_name}", company_url(@jd.company), class: "btn btn-primary pull-right" %>
			</div>
		</div>
	</div>
</div>