<div class="card-content">
  <%= simple_form_for([:admin, message]) do |f| %>
   <div class="row">
    <div class="col-md-3">
      <div class="form-group label-floating">
        <label class="control-label"><span class="btn btn-primary btn-xs btn-round">TO:</span></label>
        <br>
        <%= f.input :recipient_name, collection: User.where(admin: false).pluck(:fullname), label: false, required: true, autofocus: true, class: "form-control" %>
      </div>
    </div>

     <div class="col-md-4">
      <div class="form-group label-floating">
        <label class="control-label"><span class="btn btn-primary btn-xs btn-round">TITLE:</span></label>
        <br>
        <%= f.input :title, label: false, required: true, autofocus: true, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group label-floating">
        <label class="control-label"><span class="btn btn-primary btn-xs btn-round">CONTENT:</span></label>
        <br>
        <%= f.input :content, label: false, required: true, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
     <div class="col-md-12">
      <div class="form-group label-floating">
        <label class="control-label"><span class="btn btn-primary btn-xs btn-round">Save As Draft?</span></label>
        <br>
        <%= f.input :draft, label: false, required: true, class: "form-control" %>
      </div>
    </div>
  </div>

 

  <div class="clearfix">
  <%= f.button :submit, "Done", class: "btn btn-primary btn-round pull-right" %>
  </div>
  <% end %>
</div>
<%= javascript_include_tag "admin/jquery-3.1.0.min" %>
<%= javascript_include_tag "admin/bootstrap.min" %>
<%= javascript_include_tag "admin/material.min" %>
<%= javascript_include_tag "admin/chartist.min" %>
<%= javascript_include_tag "admin/bootstrap-notify" %>
<%= javascript_include_tag "admin/material-dashboard" %>
