<%= link_to new_admin_message_url(reply_id: 0), class: "btn btn-primary btn-xs btn-round" do %>
   <i class="material-icons">add</i>compose message
<% end %>

<%#= link_to admin_messages_url do %>
  <!-- <button class="btn btn-success btn-xs btn-round">
  	All Messages
  </button> -->
<%# end %>

<%= link_to admin_messages_url(category: "received") do %>
  <button class="btn btn-warning btn-xs btn-round">
  	Inbox <span class="inbox_notification"><%= Message.where(recipient_name: "Admin(#{current_user.fullname})", archived: false, draft: false).count %></span>
  </button>
<% end %>

<%= link_to admin_messages_url(category: "sent") do %>
  <button class="btn btn-info btn-xs btn-round">
  	Outbox <span class="outbox_notification"><%= current_user.messages.where(draft: false, archived: false).count %></span>
  </button>
<% end %>

<%= link_to admin_messages_url(category: "draft") do %>
  <button class="btn btn-default btn-xs btn-round">
  	Draft <span class="draft_notification"><%= current_user.messages.where(draft: true).count %></span>
  </button>
<% end %>

<%= link_to admin_messages_url(category: "archived") do %>
  <button class="btn btn-danger btn-xs btn-round">
  	Archived Messages <span class="archived_notification"><%= @messages.count %></span>
  </button>
<% end %>

<div class="col-md-12">
	<div class="card">
	    <% if current_page?(admin_messages_url(category: "received")) %>
	    <div class="card-header" data-background-color="orange">
	    <% elsif current_page?(admin_messages_url(category: "sent")) %>
	    <div class="card-header" data-background-color="blue">
	    <% elsif current_page?(admin_messages_url(category: "draft")) %>
	    <div class="card-header" data-background-color="grey">
	    <% elsif current_page?(admin_messages_url(category: "archived")) %>
	    <div class="card-header" data-background-color="red">	
	    <% else %>
	    <div class="card-header" data-background-color="purple">
	    <% end %>
		
			<h4 class="title">Messages</h4>
		</div>
		<div class="card-content table-responsive">
			<table class="table">
				<thead class="text-primary">
					<th>From</th>
					<th>Message</th>
					<th>Status</th>
					<th></th>
					<th>Timestamp</th>
				</thead>
				<tbody>
				<% if @messages.any? %>
				  <% @messages.each do |message| %>
					<tr>
						<td>
						  <% if message.user == current_user %>
						    <%= link_to "Me", "#", class: "btn btn-primary btn-xs btn-round" %>
						  <% else %>
						    <%= link_to message.user.fullname, "#", class: "btn btn-primary btn-xs btn-round" %>
						  <% end %>  
						</td>
						<td class="text-primary"><strong><%= message.title %></strong>***<%= link_to truncate(message.content, length: 40), admin_message_url(message, message_id: message.id) %>

						<% unless params[:category] == "received" || !message.user.admin? %>
						  <% unless !message.draft? %>
						    <%= link_to [:edit, :admin, message] do %>
						      <button type="button" title="Edit" class="btn btn-primary btn-simple btn-xs">
						        <i class="material-icons">edit</i>
						      </button>
						    <% end %> 

						    <%= link_to [:admin, message], method: :delete, data: { confirm: "Are you sure you want to delete this message?" } do %>
						      <button type="button" title="Remove" class="btn btn-primary btn-simple btn-xs">
							    <i class="material-icons">close</i>
						      </button>  
						    <% end %>
						  <% end %>  	

						  <% if message.archived? %>
						    <%= link_to [:admin, :unarchive, message], method: :patch, data: { confirm: "Are you sure you want to unarchive this message?"} do %>
						      <button type="button" title="Unarchive" class="btn btn-primary btn-simple btn-xs">  
						        <i class="material-icons">unarchive</i>
						      </button>  
						    <% end %> 
						  <% else %> 
						    <%= link_to [:admin, :archive, message], method: :patch, data: { confirm: "Are you sure you want to archive this message?"} do %>
						      <button type="button" title="Archive" class="btn btn-primary btn-simple btn-xs">  
						        <i class="material-icons">archive</i>
						      </button>  
						    <% end %>
						  <% end %>
						<% end %>  

						<% if !message.user.admin? %>
						  <% if message.archived? %>
						    <%= link_to [:admin, :unarchive, message], method: :patch, data: { confirm: "Are you sure you want to unarchive this message?"} do %>
						      <button type="button" title="Unarchive" class="btn btn-primary btn-simple btn-xs">  
						        <i class="material-icons">unarchive</i>
						      </button>  
						    <% end %> 
						  <% else %> 
						    <%= link_to [:admin, :archive, message], method: :patch, data: { confirm: "Are you sure you want to archive this message?"} do %>
						      <button type="button" title="Archive" class="btn btn-primary btn-simple btn-xs">  
						        <i class="material-icons">archive</i>
						      </button>  
						    <% end %>
						  <% end %>
						<% end %>
						</td>
						<td>
						  <% if message.save_as_draft? %>
						    <button class="btn btn-default btn-xs btn-round">
						      draft	
						    </button>
						  <% elsif !message.save_as_draft? && message.user.admin? %>	
						    <button class="btn btn-info btn-xs btn-round">
						      sent 	
						    </button>
						  <% elsif !message.save_as_draft? && !message.user.admin? %>
						    <button class="btn btn-warning btn-xs btn-round">
						      received	
						    </button>  
						  <% end %>	
						  </td>  	
						<td>
						<% if message.save_as_draft? %>	
						  <%= link_to admin_send_message_url(message), method: :patch, data: { confirm: "Are you sure you want to send this message to #{message.recipient_name}?" } do %>
						    <span class="btn btn-success btn-xs btn-round">
						      send?
						    </span>
						  <% end %> 
						<% else %>
						<% end %>
						</td>
						<td><%= message.created_at.strftime("%B %d, %Y -%T") %></td>
					</tr>
					<% end %>
				<% else %>
                  <tr>
                    <td>no data</td>
                    <td>no data</td>
                    <td>no data</td>
                    <td>no data</td>
                    <td>no data</td>
                  </tr>
                <% end %>  	
				</tbody>
			</table>

		</div>
	</div>
</div>

<%= javascript_include_tag "admin/jquery-3.1.0.min" %>
<%= javascript_include_tag "admin/bootstrap.min" %>
<%= javascript_include_tag "admin/material.min" %>
<%= javascript_include_tag "admin/chartist.min" %>
<%= javascript_include_tag "admin/bootstrap-notify" %>
<%= javascript_include_tag "admin/material-dashboard" %>
