<%= link_to new_admin_message_url, class: "btn btn-primary btn-xs btn-round" do %>
   <i class="material-icons">add</i>compose message
<% end %>
<%= link_to admin_messages_url(category: "received") do %>
  <button class="btn btn-warning btn-xs btn-round">
  	Inbox
  </button>
<% end %>
<%= link_to admin_messages_url(category: "sent") do %>
  <button class="btn btn-info btn-xs btn-round">
  	Outbox
  </button>
<% end %>
<div class="col-md-12">
	<div class="card">
		<div class="card-header" data-background-color="purple">
			<h4 class="title">Messages</h4>
		</div>
		<div class="card-content table-responsive">
			<table class="table">
				<thead class="text-primary">
					<th>Recipient</th>
					<th>Message</th>
					<th>Status</th>
					<th></th>
					<th>Timestamp</th>
				</thead>
				<tbody>
				<% if @messages.any? %>
				  <% @messages.each do |message| %>
					<tr>
						<td><%= link_to message.recipient_name, "#", class: "btn btn-primary btn-xs btn-round" %></td>
						<td class="text-primary"><strong><%= message.title %></strong>***<%= link_to truncate(message.content, length: 40), admin_message_url(message) %>
						<%= link_to [:edit, :admin, message] do %>
						  <button type="button" title="Edit Message" class="btn btn-primary btn-simple btn-xs">
						    <i class="material-icons">edit</i>
						  </button>
						<% end %> 

						<%= link_to [:admin, message], method: :delete, data: { confirm: "Are you sure you want to delete this message?" } do %>
						  <button type="button" title="Remove" class="btn btn-primary btn-simple btn-xs">
							<i class="material-icons">close</i>
						  </button>  
						<% end %>	
						</td>
						<td>
						  <% if message.save_as_draft? %>
						    <button class="btn btn-default btn-xs btn-round">
						      draft	
						    </button>
						  <% elsif !message.save_as_draft? && message.user.admin? %>	
						    <button class="btn btn-info btn-xs btn-round">
						      sent 	
						    </button>
						  <% elsif !message.save_as_draft? && !message.user.admin? %>
						    <button class="btn btn-warning btn-xs btn-round">
						      received	
						    </button>  
						  <% end %>	
						  </td>  	
						<td>
						<% if message.save_as_draft? %>	
						  <%= link_to admin_send_message_url(message), method: :patch, data: { confirm: "Are you sure you want to send this message to #{message.recipient_name}?" } do %>
						    <span class="btn btn-success btn-xs btn-round">
						      send?
						    </span>
						  <% end %> 
						<% else %>
						<% end %>
						</td>
						<td><%= message.created_at.strftime("%B %d, %Y -%T") %></td>
					</tr>
					<% end %>
				<% else %>
                  <tr>
                    <td>no data</td>
                    <td>no data</td>
                    <td>no data</td>
                    <td>no data</td>
                  </tr>
                <% end %>  	
				</tbody>
			</table>

		</div>
	</div>
</div>

<%= javascript_include_tag "admin/jquery-3.1.0.min" %>
<%= javascript_include_tag "admin/bootstrap.min" %>
<%= javascript_include_tag "admin/material.min" %>
<%= javascript_include_tag "admin/chartist.min" %>
<%= javascript_include_tag "admin/bootstrap-notify" %>
<%= javascript_include_tag "admin/material-dashboard" %>
