<div class="col-md-12">
	<div class="card">
		<div class="card-header" data-background-color="purple">
			<h4 class="title">Messages		
			</h4>
			<p class="category"></p>
		</div>
		<% if @reply_thread.any? %>
		  <% if !@reply_thread.first.user.admin? %>
		    <%= link_to new_admin_message_url(reply_id: @message.id) do %>
			  <button class="btn btn-primary btn-round btn-xs pull-right">
			    <i class="material-icons">reply</i>reply
			  </button>
		    <% end %>
		  <% end %>  	
	    <% end %>		
		<div class="card-content">
		<% if @reply_thread.empty? %>
		<div class="row">
				<div class="col-md-12">
					<div class="form-group label-floating">
						<span class="label label-info">From:</span> 
						<% if @message.user == current_user %>
						  Me
						<% else %>  
						  <%= @message.user.fullname %>
						<% end %>  
						<br>
						<span class="label label-info">To:</span> <%= @message.recipient_name %>
						<br>
						<span class="label label-info">Sent:</span> <%= @message.created_at.strftime("%B %d, %Y") %>
						<br>  
						<span class="label label-info">Subject:</span> <%= @message.title %>
						<br>
						<%= @message.content %>

					</div>
				</div>	
			</div>
			<h6 style="font-size: 10px;"><%= @message.created_at.strftime("%B %d, %Y") %>(<%= time_ago_in_words @message.created_at %> ago) | <%= @message.created_at.strftime("%T") %></h6>
		<% else %>
			<% @reply_thread.map do |message| %>
			<!-- original message -->
			<% if message.user.admin? %>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group label-floating">
						<span class="label label-info">From:</span>
						<% if message.user == current_user %>
						  Me
						<% else %>  
						  <%= message.user.fullname %>
						<% end %>  
						<br>
						<span class="label label-info">To:</span> <%= message.recipient_name %>
						<br>
						<span class="label label-info">Sent:</span> <%= message.created_at.strftime("%B %d, %Y") %>
						<br>  
						<span class="label label-info">Subject:</span><strong class="text-info"><%= message.title %></strong>
						<br>
						<%= message.content %>
					</div>
				</div>	
			</div>
			<!-- message in thread -->
			<% else %>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group label-floating">
						<span class="label label-warning">From:</span> 
						<% if message.user == current_user %>
						  Me
						<% else %>  
						  <%= message.user.fullname %>
						<% end %>  
						<br>
						<span class="label label-warning">To:</span> <%= message.recipient_name %>
						<br>
						<span class="label label-warning">Sent:</span> <%= message.created_at.strftime("%B %d, %Y") %>
						<br>  
						<span class="label label-warning">Subject:</span> <strong class="text-warning"><%= message.title %></strong>
						<br>
						<%= message.content %>
					</div>
				</div>	
			</div>
			<% end %>
			<% if message.user.admin? %>
			<h6 class="text-info" style="font-size: 10px;">
			<% else %>
			<h6 class="text-warning" style="font-size: 10px;">
			<% end %>
			<%= message.created_at.strftime("%B %d, %Y") %>(<%= time_ago_in_words message.created_at %> ago) | <%= message.created_at.strftime("%T") %></h6>
			<hr>
			<% end %>
			<% end %>

			<div class="clearfix">
			  <div class="pull-right">
			    <% if @message.user.admin? && @message.draft? %>
				  <%= link_to edit_admin_message_url(@message, page: "from show") do %>
				    <button type="button" title="Edit Message" class="btn btn-primary btn-simple btn-xs">
					  <i class="material-icons">edit</i>
				    </button>
				  <% end %> 

				  <%= link_to [:admin, @message], method: :delete, data: { confirm: "Are you sure you want to delete this message?" } do %>
				    <button type="button" title="Remove" class="btn btn-primary btn-simple btn-xs">
					  <i class="material-icons">close</i>
				    </button>  
				  <% end %>	
				<% end %>  
				<%= link_to "Back", :back, class: "btn btn-primary btn-round btn-xs pull-right" %>
			  </div>	
			</div>
		</div>
	</div>
</div>

<%= javascript_include_tag "admin/jquery-3.1.0.min" %>
<%= javascript_include_tag "admin/bootstrap.min" %>
<%= javascript_include_tag "admin/material.min" %>
<%= javascript_include_tag "admin/chartist.min" %>
<%= javascript_include_tag "admin/bootstrap-notify" %>
<%= javascript_include_tag "admin/material-dashboard" %>
