<%unless @companies.any? || @applicants.any? %>
  <h3>Your porfolio is empty</h3>
<% end %>
<%= link_to new_user_company_url(current_user) do %>
  <button class="btn btn-primary btn-xs btn-round">
    <% if @companies.any? %>
      <i class="material-icons">add</i>Add Another Company
    <% else %>
      <i class="material-icons">add</i>Add Company  
    <% end %>	
  </button>
<% end %>  

<% if @companies.any? %>
<div class="col-md-12">
	<div class="card">
		<div class="card-header" data-background-color="purple">
			<h4 class="title">Companies</h4>
			<p class="category">details of each company</p>
		</div>
		<div class="card-content table-responsive">
			<table class="table">
				<thead class="text-primary">
					<th>Name Of Company</th>
					<th>ClientName</th>
					<th>Role</th>
					<th>Email</th>
					<th>Phonenumber</th>
					<th>Url/Website</th>
					<th>Description</th>
					<th></th>
				</thead>
				<% @companies.each do |company| %>
				<tbody>
					
					<tr>
						<td>
						  <%= link_to user_company_url(current_user, company, tab: "company") do %>
						    <button class="btn btn-primary btn-xs btn-round">
						      <%= company.company_name %>	
						    </button>
						  <% end %>
						</td>
						<td><%= company.clientname %></td>
						<td><%= company.role %></td>
						<td><%= company.email %></td>
						<td><%= company.phonenumber %></td>
						<td class="text-primary"><%= company.url %></td>
						<td><%= truncate(company.about, length: 15) %></td>
						<td class="td-actions text-right">
							<%= link_to update_button_for_company_url(company), method: :patch do %>
							 <button type="button" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
								<i class="material-icons">edit</i>
							</button>
							<% end %>
							<%= link_to user_company_url(current_user, company), method: :delete, data: { confirm: "Are you sure?" } do %>
						    <button type="button" title="Remove" class="btn btn-danger btn-simple btn-xs">
								<i class="material-icons">close</i>
							</button>
							<% end %>
						</td>  	
					</tr>
				</tbody>
				<% end %>
			</table>

		</div>
	</div>
</div>
<% end %>

<% if current_user.applicants.any? %>
<div class="col-md-12">
	<div class="card">
		<div class="card-header" data-background-color="purple">
			<h4 class="title">	
				Applicants and the roles they applied for
			</h4>
			<p class="category"></p>
		</div>
		<div class="card-content table-responsive">
			<table>
				<tbody>
					<% if @applicants.any? %>
					<% @count = 0 %>
					<% @applicants.each do |applicant| %>
					<% @count +=1 %>
					<tr>
						<td class="col-md-1"><%= @count %>.</td>
						<td class="col-md-4">
						<% if !applicant.job_description.nil? %> 
						  <%= link_to [applicant.job_description, applicant] do %>
						    <button class="btn btn-primary btn-xs btn-round">
						      <%= applicant.name %>	
						    </button>
						  <% end %>
						<% else %>
						<button class="btn btn-primary btn-xs btn-round">
						  <%= applicant.name %>	
						</button>
						  
						<% end %> 	
						 </td>
						<td class="col-md-2">applied for</td>
						<td class="col-md-4">
						<% if !applicant.job_description.nil? %>
						  <%= link_to [applicant.company, applicant.job_description] do %>
						  <button class="btn btn-primary btn-xs btn-round">
						  	<%= applicant.job_description.try(:job_title) %>
						  </button>
						  <% end %>
						<% else %>
						  -
						<% end %>	
						</td>
						<td>
							<% if applicant.none? %>
							<button class="btn btn-default btn-xs btn-round">
								no status
							</button>	
							<% elsif applicant.interviewing? %>
							<button class="btn btn-info btn-xs btn-round">
								interviewing...
							</button>	
							<% elsif applicant.testing? %>
							<button class="btn btn-info btn-xs btn-round">
								testing...
							</button>	
							<% elsif applicant.hired? %>
							<button class="btn btn-success btn-xs btn-round">
								hired!
							</button>
							<% elsif applicant.not_hired? %>
							<button class="btn btn-danger btn-xs btn-round">
								not hired
							</button>	  	     
							<% end %>
						</td>
						<td>
						  <% if !applicant.job_description.nil? %>
						  <%= link_to update_button_for_applicants_url(applicant), method: :patch do %>
							<button type="button" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
								<i class="material-icons">edit</i>
							</button>
					      <% end %>	
					      <% end %>
						</td>
						<td>
						  <% if applicant.job_description.nil? %>
						    <%= link_to job_description_applicant_url(applicant.job_description, applicant), method: :delete, data: {confirm: "are you sure you want to delete this applicant?"} do  %>
							  <button type="button" title="Remove" class="btn btn-primary btn-simple btn-xs">
							    <i class="material-icons">close</i>
							  </button>  	
						    <% end %>	
						  <% else %>
						  <% end %>
						</td>
					</tr>                                       
					<% end %>
					<% else %>
					<tr>
						<td class="col-md-4">no</td>
						<td class="col-md-2">data</td>
						<td class="col-md-4">here</td>						
					</tr>   
					<% end %> 
				</tbody>
			</table>
		</div>
	</div>
</div>
<% end %>