<div class="col-md-12">
	<div class="card">
		<div class="card-header" data-background-color="purple">
			<h4 class="title">News Feed</h4>
			<p class="category">Real life feed of activities</p>
		</div>
		<div class="card-content table-responsive">
			<table class="table">
				<thead class="text-primary">
					<th>Stories</th>
					<th>Timestamp</th>
				</thead>
				<tbody>
					<% @feed.each do |activity| %>
					<% if activity.company_action = "deal" %>    
					<tr>
						<td><span class="text-primary"><%= activity.user.username %></span> just brought in 
						<% if activity.trackable.user != current_user %>
							<span class="dropdown">
								<a href="#" class="dropdown-toggle btn btn-primary btn-xs btn-round" data-toggle="dropdown">
									<%= activity.trackable.company_name %>
								</a>
								<ul class="dropdown-menu">
									<li>
									<% if activity.trackable.job_descriptions.any? %>
									<%= link_to pluralize(activity.trackable.job_descriptions.count, "Job Description"), company_url(activity.trackable) %>
									<% else %>
									No Job Descriptions
									<% end %>	
									</li>
								</ul>
							</span>
						<% else %>
						  <span class="text-primary"><%= activity.trackable.company_name %>	
						  </span>
						<% end %>	
						</td>
						<td><%= activity.updated_at.strftime("%B %m, %Y") %> at <%= activity.updated_at.strftime("%r") %></td>
					</tr>	
					<% end %>	
					<% end %>
				</tbody>
			</table>

		</div>
	</div>
</div>

