<div class="card-content table-responsive">
<div class="col-md-8">
	<div class="card">
		<div class="card-header" data-background-color="purple">
			<h4 class="title">Job Description For <%= @company.company_name %></h4>
		</div>
		<div class="card-content">

		<% if @job_description.completed? %>
		     <button class="btn btn-info btn-xs btn-round pull-right">
		     	completed
		     </button>
		<% else %>
		     <button class="btn btn-default btn-xs btn-round pull-right">
		     	not completed
		     </button> 
        <% end %>
        <button class="btn btn-success btn-xs btn-round pull-right">
          worth: GHS<%= @job_description.actual_worth || "0.00" %>	
        </button>	  

		<span class="text-primary">Brief Description</span>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Job Title</label>
						  <button class="btn btn-primary btn-xs btn-round">
						    <%= @job_description.job_title %>	
						  </button>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group label-floating">
						<label class="control-label">Experience(yrs)</label>
						<%= @job_description.experience %> 
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Minimum Salary</label>
						<%= @job_description.min_salary %>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group label-floating">
						<label class="control-label">Maximum Salary</label>
						<%= @job_description.max_salary %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Vacancies</label>
						<%= @job_description.vacancies %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Uploaded CVs/Resumes</label>
						<% if @job_description.attachments.any? { |attachment| attachment.persisted? } %>
						<% @job_description.attachments.each do |attachment| %>
						  <%= link_to File.basename(attachment.file.url), attachment.file.url %>(<%= number_to_human_size(attachment.file.size) %>)
						  <br>
						<% end %>
						<% else %>
						  No file uploaded.
						<% end %>
					</div>
				</div>
			</div>

			<br/>
			<br/>
			<hr>


	
			  <div class="row">
				  <div class="col-md-12">
				    <div class="form-group label-floating">
					  <span class="text-primary">Required Qualifications</span>
					    <% if @job_description.qualifications.any? %>
					       <table>
						  <% @job_description.qualifications.each do |qualification| %>							    
								<tr>
								  <td class="col-md-1"><%= qualification.certificate %></td> <td class="col-md-1">in</td>
								  <td class="col-md-4"><%= qualification.field_of_study %></td> 
							    </tr>
						<br/>

						  <% end %>
						  </table>
						<% else %>
						<p>No Qualifications Provided</p>  
						<% end %>
					</div>
				</div>
			</div>

			<br/>
			<br/>
			<hr>


			<div class="row">
			  <div class="col-md-12">
			    <div class="form-group label-floating">
				  <span class="text-primary">Required Experiences</span>
				    <% if @job_description.required_experiences.any? %>
				    <table>
					  <% @job_description.required_experiences.each do |required_experience| %>		
						  <tr>
							   <td class="col-md-2"><%= required_experience.years %> years</td><td class="col-md-1">of</td><td class="col-md-4"><%= required_experience.experience %></td>  
						    </tr>
					      
					<br/>
					
					

					<% end %>
					</table>
					<% else %>
					<p>No Experience Provided</p> 
					<% end %>
				</div>
			</div>
		</div>

	    <br/>
		<br/>
		<hr>

	    <div class="row">
			  <div class="col-md-12">
			    <div class="form-group label-floating">
				  <span class="text-primary">Compulsory Requirements</span>
				    <% if @job_description.requirements.any? %>
				    <table>
					  <% @job_description.requirements.each do |requirement| %>	    
						  <tr>
							  <td class="col-md-4"><%= requirement.content %></td>  
						  </tr>
					      
					<br/>
					
					

					<% end %>
					</table>
					<% else %>
					<p>No Requirements Listed</p>
					<% end %>
				</div>
			</div>
		</div>


	    <div class="row">
		  <%= link_to "Back", :back, class: "btn btn-primary btn-xs btn-round pull-right" %>
	    </div>

	</div>



</div>
</div>
</div>


