<div class="card-content table-responsive">
<div class="col-md-8">
	<div class="card">
		<div class="card-header" data-background-color="purple">
			<h4 class="title">Job Description For <%= @company.company_name %></h4>
		</div>
		<div class="card-content">
		<div>	
		<% if @job_description.completed? %>
		     <button class="btn btn-info btn-xs btn-round pull-right">
		     	completed
		     </button>
		<% else %>
		     <button class="btn btn-default btn-xs btn-round pull-right">
		     	not completed
		     </button> 
        <% end %>
        <button class="btn btn-success btn-xs btn-round pull-right">
          worth: GHS<%= @job_description.actual_worth || "0.00" %>	
        </button>	
        </div>
        <br>
        
        <% authorize? @job_description do %>
        <% pending_updates? @job_description do %>
        <div class="pull-right">
        	<button style="margin-right: -90px;margin-top: 20px;" type="button" class="btn btn-info btn-xs btn-round" data-toggle="modal" data-target="#myModal"><i class="material-icons">visibility</i>changes</button> 	
        </div> 
        <% end %>
        <% end %>  

        <!-- modal here -->
										<div id="myModal" class="modal fade" role="dialog">
											<div class="modal-dialog">

												<!-- Modal content-->
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal">&times;</button>
														<h4 class="modal-title">Changes</h4>
													</div>
													<div class="modal-body">
													<% pending_updates? @job_description do %>
														<p>job title: <%= @job_description.job_title != @job_description_copy.job_title ? "#{@job_description_copy.job_title}**" : "#{@job_description.job_title}" %></p>
														<p>experience: <%= @job_description.experience != @job_description_copy.experience ? "#{@job_description_copy.experience}**" : "#{@job_description.experience}" %></p>
														<p>min salary: <%= @job_description.min_salary != @job_description_copy.min_salary ? "#{@job_description_copy.min_salary }**" : "#{@job_description.min_salary }" %></p>
														<p>max salary: <%= @job_description.max_salary != @job_description_copy.max_salary  ? "#{@job_description_copy.min_salary }**" : "#{@job_description.min_salary }" %></p>
														<p>vacancies: <%= @job_description.vacancies != @job_description_copy.vacancies ? "#{@job_description_copy.vacancies}**" : "#{@job_description.vacancies}" %></p>
														<p>url: <%= @job_description.role_description != @job_description_copy.role_description ? "#{@job_description_copy.role_description}**" : "#{@job_description.role_description}" %></p>
														<p>about: <%= @job_description.expiration_date != @job_description_copy.expiration_date ? "#{@job_description_copy.expiration_date}**" : "#{@job_description.expiration_date}" %></p>
													</div>
													<div class="modal-footer">
													  <%= link_to admin_allow_changes_to_jd_url(@job_description), method: :patch do %>
														<button type="button" class="btn btn-default btn-xs btn-round" data-dismiss="modal">Allow Changes</button>
													  <% end %>	
													  <% end %>
													</div>
												</div>

											</div>
										</div>
										<!-- modal ends here -->

		<span class="text-primary">Brief Description</span>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Job Title</label>
						  <button class="btn btn-primary btn-xs btn-round">
						    <%= @job_description.job_title %>	
						  </button>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group label-floating">
						<label class="control-label">Experience(yrs)</label>
						<%= @job_description.experience %> 
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Minimum Salary</label>
						<%= @job_description.min_salary %>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group label-floating">
						<label class="control-label">Maximum Salary</label>
						<%= @job_description.max_salary %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Vacancies</label>
						<%= @job_description.vacancies %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Uploaded CVs/Resumes</label>
						<% if @job_description.attachments.any? { |attachment| attachment.persisted? } %>
						<% @job_description.attachments.each do |attachment| %>
						  <%= link_to File.basename(attachment.file.url), attachment.file.url %>(<%= number_to_human_size(attachment.file.size) %>)
						  <br>
						<% end %>
						<% else %>
						  No file uploaded.
						<% end %>
					</div>
				</div>
			</div>

			<br/>
			<br/>
			<hr>


	
			  <div class="row">
				  <div class="col-md-12">
				    <div class="form-group label-floating">
					  <span class="text-primary">Required Qualifications</span>
					    <% if @job_description.qualifications.any? %>
					       <table>
						  <% @job_description.qualifications.each do |qualification| %>							    
								<tr>
								  <td class="col-md-1"><%= qualification.certificate %></td> <td class="col-md-1">in</td>
								  <td class="col-md-4"><%= qualification.field_of_study %></td> 
							    </tr>
						<br/>

						  <% end %>
						  </table>
						<% else %>
						<p>No Qualifications Provided</p>  
						<% end %>
					</div>
				</div>
			</div>

			<br/>
			<br/>
			<hr>


			<div class="row">
			  <div class="col-md-12">
			    <div class="form-group label-floating">
				  <span class="text-primary">Required Experiences</span>
				    <% if @job_description.required_experiences.any? %>
				    <table>
					  <% @job_description.required_experiences.each do |required_experience| %>		
						  <tr>
							   <td class="col-md-2"><%= required_experience.years %> years</td><td class="col-md-1">of</td><td class="col-md-4"><%= required_experience.experience %></td>  
						    </tr>
					      
					<br/>
					
					

					<% end %>
					</table>
					<% else %>
					<p>No Experience Provided</p> 
					<% end %>
				</div>
			</div>
		</div>

	    <br/>
		<br/>
		<hr>

	    <div class="row">
			  <div class="col-md-12">
			    <div class="form-group label-floating">
				  <span class="text-primary">Compulsory Requirements</span>
				    <% if @job_description.requirements.any? %>
				    <table>
					  <% @job_description.requirements.each do |requirement| %>	    
						  <tr>
							  <td class="col-md-4"><%= requirement.content %></td>  
						  </tr>
					      
					<br/>
					
					

					<% end %>
					</table>
					<% else %>
					<p>No Requirements Listed</p>
					<% end %>
				</div>
			</div>
		</div>


	    <div class="row">
		  <%= link_to "Back", :back, class: "btn btn-primary btn-xs btn-round pull-right" %>
	    </div>

	</div>



</div>
</div>
</div>


<%= javascript_include_tag "admin/jquery-3.1.0.min" %>
<%= javascript_include_tag "admin/bootstrap.min" %>
<%= javascript_include_tag "admin/material.min" %>
<%= javascript_include_tag "admin/chartist.min" %>
<%= javascript_include_tag "admin/bootstrap-notify" %>
<%= javascript_include_tag "admin/material-dashboard" %>