<% if @users.any? %>
<div class="col-md-12">
	<div class="card">
		<div class="card-header" data-background-color="purple">
			<h4 class="title">Users</h4>
		</div>
		<div class="card-content table-responsive">
			<table class="table">
				<thead class="text-primary">
					<th>Username</th>
					<th>Fullname</th>
					<th>Number Companies Brought In</th>
					<th>Number of Applicants Brought In</th>
					<th>Total Earnings</th>
					<th></th>
					<th>Last Sign In</th>
				</thead>
				<% @users.each do |user| %>
				<tbody>
					<tr>
						<td>
						  <%= link_to [:admin, user] do %>
						    <% if user.approved? %>
						      <button class="btn btn-info btn-xs btn-round">
						    <% else %>
						      <button class="btn btn-danger btn-xs btn-round">  
						    <% end %>
						      <%= user.username %>
						      </button>
						  <% end %>	
						</td>
						<td class="text-primary"><%= user.fullname %></td>
						<td><%= user.companies.count %></td>  	
						<td><%= user.applicants.count %></td>
						<td><span class="btn btn-success btn-xs btn-round">
						  <% if user.job_descriptions.any? { |jd| jd.applicants.any? { |applicant| !applicant.hired? } } %>
						    <%= user.cumulative_earnings %>**
						  <% else %>
						    <%= user.cumulative_earnings %>  
						  <% end %>  
						</span></td>
						<td>
						  <% if user.approved? %>
						    <%= link_to admin_disapprove_user_url(user), method: :patch, class: "btn btn-default btn-xs btn-round" do %>
						      <i class="material-icons">thumb_down</i>
						    <% end %>
						  <% else %>
						    <%= link_to admin_approve_user_url(user), method: :patch, class: "btn btn-default btn-xs btn-round" do %>
						      <i class="material-icons">thumb_up</i>
						    <% end %>  
						  <% end %>	
						</td>
						<td>
						<% unless user.last_sign_in_at.nil? %>
						<button class="btn btn-default btn-xs btn-round">		
						  <%= user.last_sign_in_at.strftime("%r") %>
						</button>
						<% end %>  
						</td>
					</tr>
				</tbody>
				<% end %>
			</table>

		</div>
	</div>
</div>
<% else %>
<h4>None at the moment</h4>

<% end %>
<%= javascript_include_tag "admin/jquery-3.1.0.min" %>
<%= javascript_include_tag "admin/bootstrap.min" %>
<%= javascript_include_tag "admin/material.min" %>
<%= javascript_include_tag "admin/chartist.min" %>
<%= javascript_include_tag "admin/bootstrap-notify" %>
<%= javascript_include_tag "admin/material-dashboard" %>
