
<div class="col-md-8">
  <div class="card">
    <div class="card-header" data-background-color="purple">
      <h4 class="title"><%= @user.fullname %>'s Profile</h4>
      <p class="category"></p>
    </div>
    <div class="card-content">
     <h4 class="text-primary">Personal Details</h4>     <div class="row">
        <div class="col-md-6">
          <div class="form-group label-floating">
            <label class="control-label">Username</label>
            <%= @user.username %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group label-floating">
            <label class="control-label">Fullname</label>
            <%= @user.fullname %>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-6">
          <div class="form-group label-floating">
            <label class="control-label">Email</label>
            <%= @user.email %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group label-floating">
            <label class="control-label">Phonenumber</label>
            <%= @user.phonenumber %>
          </div>
        </div>
      </div>
    
      <br/>
      <br/>
      <hr>

      <h4 class="text-primary">Work Details</h4>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group label-floating">
            <label class="control-label">Companies Brought In</label>
            <% if @user.companies.any? %>
              <% @user.companies.each do |company| %>
              <span class="dropdown">  
                <a href="#" class="dropdown-toggle btn btn-primary btn-xs btn-round" data-toggle="dropdown">
                  <%= company.company_name %>  
                </a>
                <ul class="dropdown-menu">
                <% @user.job_descriptions.where(company_id: company.id).each do |jd| %>
                  <li><%= jd.job_title %></li>
                <% end %>    
                </ul>             
              </span>
                ,
              <% end %>
            <% else %>
              None  
            <% end %>  
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group label-floating">
            <label class="control-label">Applicants Brought In</label>
            <% if @user.applicants.any? %>  
              <% @user.applicants.each do |applicant| %>
                <button class="btn btn-primary btn-xs btn-round">
                  <%= applicant.name %>
                </button>,
              <% end %>
            <% else %>
              None  
            <% end %>  
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group label-floating">
            <label class="control-label">Total Earnings</label>
              <span class="btn btn-success btn-xs btn-round">GHS <%= @user.cumulative_earnings %></span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group label-floating">
            <label class="control-label">Earnings From Job Descriptions</label>
              <span class="btn btn-success btn-xs btn-round">GHS <%= @user.cumulative_earnings_from_jd %></span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group label-floating">
            <label class="control-label">Earnings From Job Applicants</label>
              <span class="btn btn-success btn-xs btn-round">GHS <%= @user.cumulative_earnings_from_applicants %></span>
          </div>
        </div>
      </div>

      <br/>
      <br/>
      <hr>

      <h4 class="text-primary">Bank Details(<%= pluralize(@user.bank_accounts.count, "bank account") %> registered)</h4>

      <% if @user.bank_accounts.any? %>
      <% @user.bank_accounts.order(update_button: :desc).each do |bank| %>

       <div class="row">
        <div class="col-md-6">
          <div class="form-group label-floating">
            <label class="control-label">Bank Name</label>
            <%= bank.bank_name %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group label-floating">
            <label class="control-label">Account Holder's Name</label>
            <%= bank.account_holder %>
          </div>
        </div>
      </div>


      <div class="row">
         <div class="col-md-6">
          <div class="form-group label-floating">
            <label class="control-label">Account Number</label>
            <%= bank.account_number %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group label-floating">
            <label class="control-label">Sort Code</label>
            <%= bank.sort_code %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group label-floating">
            <label class="control-label">Account Holder's Address</label>
            <%= bank.account_holder_address %>
          </div>
        </div>
      </div>
     

      <hr>
      <% end %>
      <% else %>
        No Details Available
      <% end %>

     
      <div class="clearfix">
      
      </div>
    </div>
  </div>
</div>

