<%= link_to mark_notification_as_read_url(notification) do %>
  <% if notification.read_at.nil? %>
  <li style="background: #DCDCDC;;">
  <% else %>
  <li>
  <% end %>
  <% if Applicant.find(notification.resource_id).user == current_user %>  
    <span style="font-weight: bold;"><%= Applicant.find(notification.resource_id).name %></span> has been <span style="font-weight: bold;">hired</span>
  <% else %>
    <span style="font-weight: bold;"><%= Applicant.find(notification.resource_id).name %></span> who applied to your role(<span style="font-weight: bold;"><%= Applicant.find(notification.resource_id).job_description.job_title %></span>/<span style="font-weight: bold;"><%= Applicant.find(notification.resource_id).company.company_name %></span>) has been <span style="font-weight: bold;">hired</span>. 
  <% end %>  
  </li>  
<% end %>   