<div class="col-md-8">
	<div class="card">
		<div class="card-header" data-background-color="purple">
			<h4 class="title">Job Description For <%= @company.company_name %></h4>
		</div>
		<div class="card-content">
			<%= simple_form_for([company, job_description]) do |f| %>
			<% if f.object.errors.any? %>
			<div class="alert alert-danger">  
				<% f.object.errors.full_messages.uniq.each do |msg| %>
				  <%= msg %>
				<br>
				<% end %>
			</div> 
			<% end %>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Job Title</label>
						<%= f.input :job_title, maxlength: "30", label: false, class: "form-control" %>
					</div>
				</div>
			</div>

			<div class="row">
			  <div class="col-md-4">
			    <div class="form-group label-floating">
			      <label class="control-label">Brief Description of Role(in 500 characters or less)</label>
				    <%= f.input :role_description, maxlength: "500", label: false, class: "form-control" %>
				 </div>
			  </div>
			</div>
	
			<div class="row">
			   <div class="col-md-2">
				  <div class="form-group label-floating">
					<label class="control-label">Required Years of Experience</label>
						<%= f.input :experience, label: false, class: "form-control" %> 
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Minimum Salary</label>
						<%= f.input :min_salary, label: false, class: "form-control" %>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group label-floating">
						<label class="control-label">Maximum Salary</label>
						<%= f.input :max_salary, label: false, class: "form-control" %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Vacancies</label>
						<%= f.input :vacancies, label: false, class: "form-control" %>
					</div>
				</div>
			</div>

            			<div class="row">
				<div class="col-md-8">
					<div class="form-group label-floating">
						<label class="control-label">OPTIONAL: Document containing jd(ONLY .doc, .docx, and .pdf are allowed)</label>
						<br>
						<% if !@job_description.attachments.any? { |attachment| attachment.persisted? }  %>
						<div id="attachments">
							<%= f.simple_fields_for :attachments do |ff| %>
							<label class="mdl-button mdl-js-button mdl-button--icon mdl-button--file">
							add file<i class="material-icons">attach_file</i><%= ff.input :file, as: :file, label: false, class: "form-control" %>
								<%= ff.input :file_cache, as: :hidden, label: false, class: "form-control" %>
							</label>
							<br>  
							<% end %>  
						</div>  
						<% else %>
						<div id="attachments">
						  <%= f.simple_fields_for :attachments, @job_description.attachments do |ff| %>
						  <label class="mdl-button mdl-js-button mdl-button--icon mdl-button--file">
						    <%= File.basename(ff.object.file.to_s) %>add file<i class="material-icons">attach_file</i><%= ff.input :file, as: :file, label: false, class: "form-control" %>
						    <%= ff.input :file_cache, as: :hidden, label: false, class: "form-control" %>,
						  </label>
						  <% end %>    
						</div>  
						<% end %>  
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-8">
					<div class="form-group label-floating">
						<label class="control-label">Set Exipiration Date</label>
						<%= f.input :expiration_date, label: false, class: "form-control" %>
					</div>
				</div>
			</div>

			<% if f.object.persisted? %>
			  <%= f.button :submit, "done", class: "btn btn-primary btn-xs btn-round pull-right" %>
			<% else %>
               <%= f.button :submit, "next", class: "btn btn-primary btn-xs btn-round pull-right" %>
			<% end %>
			<div class="clearfix"></div>
			<% end %>
		</div>
	</div>
</div>


