<div class="col-md-8">
	<div class="card">
		<div class="card-header" data-background-color="purple">
			<h4 class="title">Job Description For <%= @company.company_name %></h4>
		</div>
		<div class="card-content">
			<%= simple_form_for([company, job_description]) do |f| %>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Job Title</label>
						<%= f.input :job_title, label: false, class: "form-control" %>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group label-floating">
						<label class="control-label">Experience(yrs)</label>
						<%= f.input :experience, label: false, class: "form-control" %> 
					</div>
				</div>
			</div>
	
			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Minimum Salary</label>
						<%= f.input :min_salary, label: false, class: "form-control" %>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group label-floating">
						<label class="control-label">Maximum Salary</label>
						<%= f.input :max_salary, label: false, class: "form-control" %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Vacancies</label>
						<%= f.input :vacancies, label: false, class: "form-control" %>
					</div>
				</div>
			</div>
			<%= f.button :submit, class: "btn btn-primary pull-right" %>
			<div class="clearfix"></div>
			<% end %>
		</div>
	</div>
</div>
