<div class="card-content table-responsive">
<% if @job_description.updated? %>

<%= render "job_descriptions/form", company: @company, job_description: @job_description %>

<% else %>

<div class="col-md-8">
	<div class="card">
	  <% if @job_description.completed? %>
		<div class="card-header" data-background-color="purple">
	  <% else %>
	    <div class="card-header" data-background-color="grey">
	  <% end %>	
			<h4 class="title">Job Description For 
			<% if @company.user == current_user %>	
			  <%= @company.company_name %>
			<% else %>
			  <%= @company.alias_name  %>  
			<% end %>	
			</h4>
		</div>
		<div class="card-content">
		  <% if @job_description.completed? %>
			<button class="btn btn-info btn-xs btn-round pull-right">
				completed
			</button>
		  <% else %>
			<button class="btn btn-default btn-xs btn-round pull-right">
				not completed
			</button> 
		  <% end %>
        
        <button class="btn btn-success btn-xs btn-round pull-right">
          Potential Worth: <%= @job_description.actual_worth == 0.0 ? "GHS #{@job_description.potential_worth}" : "GHS #{@job_description.actual_worth}" %>	
        </button>	  	

		<span class="text-primary">Brief Description</span>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Job Title</label>
						<%= @job_description.job_title %>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group label-floating">
						<label class="control-label">Experience(yrs)</label>
						<%= @job_description.experience %> 
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Minimum Salary</label>
						<%= @job_description.min_salary %>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group label-floating">
						<label class="control-label">Maximum Salary</label>
						<%= @job_description.max_salary %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Vacancies</label>
						<%= @job_description.vacancies %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Document containing JD</label>
						<% if @job_description.attachments.any? { |attachment| attachment.persisted? } %>
						<% @job_description.attachments.each do |attachment| %>
						  <%= link_to File.basename(attachment.file.url), attachment.file.url %>(<%= number_to_human_size(attachment.file.size) %>) 
						  <% if @job_description.user == current_user %>
						    <%= link_to attachment_url(attachment), method: :delete, data: { confirm: "Are you sure you want to delete this file?"} do %>
						      <button type="button" title="Remove" class="btn btn-primary btn-simple btn-xs">
						  	    <i class="material-icons">close</i>
						      </button>
						    <% end %>
						  <% end %>  
						  <br>
						<% end %>
						<% else %>
						  No file uploaded.
						<% end %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group label-floating">
						<label class="control-label">Expiration Date</label>
						<%= @job_description.expiration_date.strftime("%B %d, %Y @%r") %>
					</div>
				</div>
			</div>


			<% if @job_description.completed? %>
			<% else %>
			<div class="row">
			   <%= link_to update_button_for_jd_url(@job_description), method: :patch, class: "btn btn-primary btn-xs btn-round" do %>
				 <i class="material-icons">edit</i> brief description 
                <% end %>	
			</div>
			<% end %>

			<br/>
			<br/>
			<hr>


	
			  <div class="row">
				  <div class="col-md-12">
				    <div class="form-group label-floating">
					  <span class="text-primary">Required Qualifications</span>
					    <% if @job_description.qualifications.any? %>
					       <table>
					      <% @q = 0 %>
						  <% @job_description.qualifications.each do |qualification| %>
						  <% @q += 1 %>
						    
						    <% if qualification.updated? %>
							    <tr>
								  <%= simple_form_for([@job_description, qualification]) do |f| %>
								    <td class="col-md-1"><%= f.input :certificate, label: false %></td> <td class="col-md-1">in</td>  <td class="col-md-4"><%= f.input :field_of_study, label: false %></td>
									<td class="col-md-2"><%= f.button :submit, "update", class: "btn btn-primary btn-xs btn-round" %></td>
									<% end %>
								</tr>
								<br/>
							<% else %>
								<tr>
								  <td class="col-md-1"><%= @q %>. <%= qualification.certificate %></td> <td class="col-md-1">in</td> <td class="col-md-4"><%= qualification.field_of_study %></td> 

								  <% if @job_description.completed? %>
								  <% else %>
								  <td class="col-md-1">
								    <%= link_to update_button_for_qualification_url(qualification), method: :patch do %>
									<button type="button" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
										<i class="material-icons">edit</i>
									</button>
									<% end %>
								  </td>	
								  <td class="col-md-1">
								    <%= link_to job_description_qualification_url(@job_description, qualification), method: :delete, data: { confirm: "Are you sure you want to delete this qualification?"} do %>
									<button type="button" title="Remove" class="btn btn-primary btn-simple btn-xs">
										<i class="material-icons">close</i>
									</button>
									 <% end %>
							 	  </td>
							 	  <% end %>

							    </tr>
						      
						    <% end %>

						<br/>

						  <% end %>
						  </table>
						<% else %>
						<p>No Qualifications Provided</p>  
						<% end %>
					</div>
				</div>
			</div>

			<% if @job_description.completed? %>
			<% else %>
			  <% if @job_description.qualifications.any? { |qualification| qualification.updated? } %>
			  <% else %>
			  <div class="row">
				<%= link_to new_job_description_qualification_url(@job_description), class: "btn btn-primary btn-xs btn-round" do %>
				  <i class="material-icons">add</i>required qualification
				<% end %>	  
			  </div>
			  <% end %>
			<% end %>

			<br/>
			<br/>
			<hr>


			<div class="row">
			  <div class="col-md-12">
			    <div class="form-group label-floating">
				  <span class="text-primary">Required Experiences</span>
				    <% if @job_description.required_experiences.any? %>
				    <table>
				    <% @re = 0 %>
					  <% @job_description.required_experiences.each do |required_experience| %>
					  <% @re += 1 %>
					    <% if required_experience.updated? %>
						
						    <tr>
							  <%= simple_form_for([@job_description, required_experience]) do |f| %>
							    <td class="col-md-2"><%= f.input :years, label: false %> <td class="col-md-1">years</td></td><td class="col-md-1">of</td><td class="col-md-4"><%= f.input :experience, label: false %></td>   
								<td><%= f.button :submit, "update", class: "btn btn-primary btn-xs btn-round" %></td>
								<% end %>
							</tr>
							<br/>
						<% else %>
						  <tr>
							   <td class="col-md-2"><%= @re %>. <%= required_experience.years %> years</td><td class="col-md-1">of</td><td class="col-md-4"><%= required_experience.experience %></td>  
							  <% if @job_description.completed? %>
							  <% else %>
							  <td class="col-md-1">
								<%= link_to update_button_for_exp_url(required_experience), method: :patch do %>
								<button type="button" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
									<i class="material-icons">edit</i>
								</button>
								<% end %>
							  </td>	
							  <td class="col-md-1">
							    <%= link_to job_description_required_experience_url(@job_description, required_experience), method: :delete, data: { confirm: "Are you sure you want to delete this experience?"} do %>
								<button type="button" title="Remove" class="btn btn-primary btn-simple btn-xs">
									<i class="material-icons">close</i>
								</button>
								<% end %>
							  </td>
							  <% end %>
						    </tr>
					      
					<% end %>
					<br/>
					
					

					<% end %>
					</table>
					<% else %>
					<p>No Experience Provided</p> 
					<% end %>
				</div>
			</div>
		</div>

		<% if @job_description.completed? %>
		<% else %>
		  <% if @job_description.required_experiences.any? { |req_exp| req_exp.updated? } %>
		  <% else %>
		    <div class="row">
		      <%= link_to new_job_description_required_experience_url(@job_description), class: "btn btn-primary btn-xs btn-round" do %>
		        <i class="material-icons">add</i>required experience
		      <% end %>	  
	        </div>
	       <% end %>
	    <% end %>

	    <br/>
		<br/>
		<hr>

	    <div class="row">
			  <div class="col-md-12">
			    <div class="form-group label-floating">
				  <span class="text-primary">Compulsory Requirements</span>
				    <% if @job_description.requirements.any? %>
				    <table>
				    <% @r = 0 %>
					  <% @job_description.requirements.each do |requirement| %>
					  <% @r += 1 %>
					    <% if requirement.updated? %>
						
						    <tr>
							  <%= simple_form_for([@job_description, requirement]) do |f| %>
							    <td class="col-md-4"><%= f.input :content, label: false %></td> 
								<td class="col-md-2"><%= f.button :submit, "update", class: "btn btn-primary btn-xs btn-round" %></td>
								<% end %>
							</tr>
							<br/>
						<% else %>
						  <tr>
							  <td class="col-md-4"><%= @r %>. <%= requirement.content %></td>  
							  <% if @job_description.completed? %>
							  <% else %>
							  <td class="col-md-1">
								<%= link_to update_button_for_rq_url(requirement), method: :patch do %>
								<button type="button" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
									<i class="material-icons">edit</i>
								</button>
								<% end %>
							  </td>	
							  <td class="col-md-1">
							    <%= link_to job_description_requirement_url(@job_description, requirement), method: :delete, data: { confirm: "Are you sure you want to delete this experience?"} do %>
								<button type="button" title="Remove" class="btn btn-primary btn-simple btn-xs">
									<i class="material-icons">close</i>
								</button>
								<% end %>
							  </td>
							  <% end %>
						    </tr>
					      
					<% end %>
					<br/>
					
					

					<% end %>
					</table>
					<% else %>
					<p>No Requirements Listed</p>
					<% end %>
				</div>
			</div>
		</div>

		<div class="row">
		  	
		</div>


		<% if @job_description.completed? %>
		<% else %>
		  <% if @job_description.requirements.any? { |requirement| requirement.updated? } %>
		  <% else %>
		  <div class="row">
		    <%= link_to new_job_description_requirement_url(@job_description), class: "btn btn-primary btn-xs btn-round" do %>
		      <i class="material-icons">add</i>compulsory requirement
		    <% end %>	  
	      </div>
	      <% end %>
	    <% end %>



	    
	    <div class="row">
	      <% unless @company.user != current_user %>
		  <% if @job_description.completed? %>
		    <%= link_to "update job description?", update_jd_url(@job_description), method: :patch, data: {confirm: "Are you sure you want update this job description complete?"}, class: "btn btn-warning btn-xs btn-round" %> 

		  <% else %>
		     <%= link_to "completed?", complete_jd_url(@job_description), method: :patch, data: { confirm: "Are you sure this job description is complete?" }, class: "btn btn-default btn-xs btn-round pull-right" %> 
		  <% end %>	 
		  <% end %> 

		  <%= link_to "Back", :back, class: "btn btn-primary btn-xs btn-round pull-right" %>
	    </div>
	    

	</div>



</div>
</div>
</div>
<% end %>
