<% if @job_description.updated? %>

<%= render "job_descriptions/form", company: @company, job_description: @job_description %>

<% else %>

<div class="col-md-8">
	<div class="card">
		<div class="card-header" data-background-color="purple">
			<h4 class="title">Job Description For <%= @company.company_name %></h4>
		</div>
		<div class="card-content">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Job Title</label>
						<%= @job_description.job_title %>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group label-floating">
						<label class="control-label">Experience(yrs)</label>
						<%= @job_description.experience %> 
					</div>
				</div>
			</div>
	
			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Minimum Salary</label>
						<%= @job_description.min_salary %>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group label-floating">
						<label class="control-label">Maximum Salary</label>
						<%= @job_description.max_salary %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group label-floating">
						<label class="control-label">Vacancies</label>
						<%= @job_description.vacancies %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group label-floating">
						<label class="control-label">Qualifications</label>
						<% if @job_description.qualifications.any? %>
						  <% @job_description.qualifications.each do |qualification| %>
						    <%= qualification.certificate %> in <%= qualification.field_of_study %><br/>
						  <% end %>
						<% else %>
						  No Qualifications Needed  
						<% end %>
					</div>
				</div>
			</div>
			<div class="row">
			<%= link_to edit_company_job_description_url(@company, @job_description), class: "btn btn-primary btn-xs btn-round pull-right" do %>
			<i class="material-icons">edit</i>job description
			<% end %>
			</div>
			<div class="row">
				<%= link_to new_job_description_requirement_url(@job_description), class: "btn btn-primary btn-xs btn-round pull-right" do %>
				<i class="material-icons">add</i>requirement
				<% end %>
			</div>
			<div class="row">
			  <%= link_to new_job_description_qualification_url(@job_description), class: "btn btn-primary btn-xs btn-round pull-right" do %>
			  <i class="material-icons">add</i>required qualification
			  <% end %>	
			</div>
			<div class="clearfix"></div>
			<div class="row">
			<%= link_to "Go To #{@job_description.company.company_name}", user_company_url(current_user, @job_description.company, tab: "company"), class: "btn btn-primary btn-xs btn-round pull-right" %>
			</div>
		</div>
	</div>
</div>
<% end %>


