<div class="col-md-8">
	<div class="card">
		<div class="card-header" data-background-color="purple">
			<h4 class="title">
		     <% if @experience.persisted? %>
		       Edit 
		     <% else %>
		       Add  
		     <% end %>		
			 Required Experience for role: <%= @jd.job_title %> at <%= @jd.company.company_name %></h4>
		</div>
		<div class="card-content">
			<%= simple_form_for([jd, experience]) do |f| %>
			<% if f.object.errors.any? %>
			<div class="alert alert-danger">  
				<% f.object.errors.full_messages.uniq.each do |msg| %>
				  <%= msg %>
				<br>
				<% end %>
			</div> 
			<% end %>

			<div class="row">
			  <div class="col-md-12">
				<% @c = 0 %>
			    <% if @jd.required_experiences.any? %>
			      <% @jd.required_experiences.where(copy: false).each do |required_experience| %>
				  <% @c += 1 %>	
				  <div class="row">
				    <td class="col-md-1"><%= @c %>. <%= required_experience.experience %></td> <td class="col-md-1">in</td> <td class="col-md-4"><%= required_experience.years %> years</td> 
				  </div>  
				  <% end %>
				<% end %>
			  </div>	
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group label-floating">
						<label class="control-label">Experience</label>
						<%= f.input :experience, placeholder: "professional software development", label: false, class: "form-control" %>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group label-floating">
						<label class="control-label">Years</label>
						<%= f.input :years, label: false, placeholder: "4", class: "form-control" %>
					</div>
				</div>
			</div>
			<div class="row">
			  <%= link_to "Back", new_job_description_qualification_url(@jd), class: "btn btn-primary btn-xs btn-round" %>
			  <%= f.button :submit, "proceed later", class: "btn btn-primary btn-xs btn-round pull-right" %>
			  <%= f.button :submit, "Next", class: "btn btn-primary btn-xs btn-round pull-right" %>
			  <%= f.button :submit, "Save and Add Another Required Experience", class: "btn btn-primary btn-xs btn-round pull-right" %>			
			</div>
			<div class="clearfix"></div>
			<% end %>
		</div>
	</div>
</div>
