<div class="col-md-12">
	<div class="card">
		<div class="card-header" data-background-color="purple">
			<h4 class="title">Required Experiences for role as <%= @jd.job_title %> at 
		    <% if @jd.company.user == current_user %>		
			  <%= @jd.company.company_name %>
			<% else %>
			  <%= @jd.company.alias_name %>  
			<% end %>
			 </h4>
		</div>
		<div class="card-content table-responsive">
			<table class="table">
				<thead class="text-primary">
					<th></th>
					<th>Required Experience</th>
					<th>Years</th>
					<th></th>
				</thead>
				<% if @experiences.any? %>
				<tbody>
					<% @no = 0 %>
					<% @experiences.each do |experience| %>
					<% @no += 1 %>
					<% if experience.updated? %>
					  	<%= simple_form_for([@jd, experience]) do |f| %>
					  	<tr>
					  	  <td><%= @no %></td>
					  	  <td><%= f.input :experience, label: false, class: "form-control" %></td>
					  	  <td><%= f.input :years, label: false, class: "form-control" %></td>
					  	  <td><%= f.button :submit, "update", class: "btn btn-primary btn-round pull-right" %></td>
					  	</tr>
					  	<% end %>
					<% else %>
					<tr>
						<td><%= @no %></td>
						<td><%= experience.experience %></td>
						<td><%= experience.years %></td>
						<td>
						<% if @jd.company.user == current_user %>
							<%= link_to update_button_for_exp_url(experience), method: :patch do %>
							<button type="button" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
								<i class="material-icons">edit</i>
							</button>  
							<% end %>	
							<%= link_to job_description_required_experience_url(@jd, experience), method: :delete, data: { confirm: "Are you sure?" } do %>
							<button type="button" title="Remove" class="btn btn-primary btn-simple btn-xs">
								<i class="material-icons">close</i>
							</button>  
							<% end %>	
						<% end %>	
						</td>
					</tr>
					<% end %>
					<% end %>
					<% else %>
					<tr>
						<td></td>
						<td>no content</td>
						<td></td>	
					</tr>					
				</tbody>
				<% end %>
			</table>
			<div class="row">
			<% if @jd.company.user == current_user %>
				<%= link_to new_job_description_required_experience_url(@jd), class: "btn btn-primary btn-round pull-right" do %>
				  <i class="material-icons">add</i>
				  <% if @jd.required_experiences.any? %>
				    one more experience
				  <% else %>
				    experience  
				  <% end %>  
			    <% end %>
			<% end %>	
			</div>
			<div class="row">
			  <%= link_to new_job_description_required_experience_url(@jd), class: "btn btn-primary btn-round pull-right" do %>
			    <i class="material-icons">add</i>required experience
			  <% end %>				
			</div>
			<div class="row">
			    <% if request.referrer == company_job_descriptions_url(@jd.company) %>
			    <%= link_to "Back", :back, class: "btn btn-primary btn-round pull-right" %>
				<% else %>  
				  <%= link_to "Back to #{@jd.company.company_name}", company_url(@jd.company, tab: "company"), class: "btn btn-primary btn-round pull-right" %>
				<% end %>
			</div>
		</div>
	</div>
</div>