	                    <div class="col-md-12">
	                        <div class="card">
	                            <div class="card-header" data-background-color="purple">
	                                <h4 class="title"><%= pluralize(@all_applicants.count, "Applicant") %></h4>
	                            </div>
	                            <div class="card-content table-responsive">
	                                <table class="table">
	                                    <thead class="text-primary">
	                                    	<th>Name of Applicant</th>
	                                    	<th>Company</th>
	                                    	<th>Role</th>
	                                    	<th>Status</th>
	                                    	<th></th>
	                                    	<th></th>
	                                    	<% if @all_applicants.any? { |applicant| applicant.salary_negotiation? } %>
	                                    	<th></th>
	                                    	<% end %>
	                                    	
	                                    </thead>
	                                    <tbody>
	                                    <% if @all_applicants.any? %>
	                                    <% @all_applicants.each do |applicant| %>
	                                        <tr>
	                                        	<td>
	                                        	<% if applicant.job_description.nil? %>
	                                        	  <%= applicant.name %>	
	                                        	<% else %>	
	 	                                       	  <%= link_to applicant.name, [:admin, applicant.job_description, applicant] %>
	 	                                       	<% end %>	
	 	                                       	</td>
	                                        	
	                                        	<td><%= link_to applicant.company.company_name, [:admin, applicant.company, tab: "company"] %></td>
	                                        	<td>
	                                        	<% if applicant.job_description.nil? %>	
	                                        	  <button class="btn btn-default btn-xs btn-round">
	                                        	  	no role
	                                        	  </button>
	                                        	<% else %>    
	                                        	  <%= applicant.job_description.job_title %>
	                                        	<% end %>	
	                                        	</td>
												<td>
												<% if applicant.updated? %>
												    <% unless applicant.job_description.nil? %>
													<%= simple_form_for([:admin, applicant.job_description, applicant]) do |f| %>
													<%= f.select :status, options_for_select([["shortlisted", "shortlisted"], ["interviewing", "interviewing"], ["testing", "testing"], ["salary negotiation", "salary negotiation" ], ["hired", "hired"], ["not hired", "not hired"]], :selected => f.object.status),{}, class: "btn btn-primary btn-xs btn-round" %>

													<%= f.button :submit, "submit", class: "btn btn-primary btn-xs btn-round" %>
													<% end %>
													<% end %>
												<% else %>
												  <% if applicant.none? %>
								                  <button class="btn btn-default btn-xs btn-round">
								                  <% elsif applicant.interviewing? || applicant.testing? || applicant.shortlisted? %>
								                  <button class="btn btn-default btn-xs btn-round">
								                  <% elsif applicant.salary_negotiation? %>
								                  <button class="btn btn-warning btn-xs btn-round">  
								                  <% elsif applicant.hired? %>
								                  <button class="btn btn-info btn-xs btn-round">    	
								                  <% elsif applicant.not_hired? %>
								                  <button class="btn btn-danger btn-xs btn-round">  
								                  <% end %>

								                  <%= applicant.status %>	
								                  </button>
												</td>
											    <% end %>
									    
											    <td>
											    <% if !applicant.updated? && applicant.updated? %>
											    <% elsif !applicant.updated? && !applicant.update_salary_button? %>		
											    	<%= link_to admin_update_button_for_applicants_url(applicant), method: :patch do %>
											    	<button type="button" title="Edit Applicant" class="btn btn-primary btn-simple btn-xs">
											    		<i class="material-icons">edit</i>
											    	</button>
											    	<% end %>
											    <% end %>
											    </td>
											     

											    <% if applicant.update_salary_button? %>
											    <%= simple_form_for([:admin, applicant.job_description, applicant]) do |f| %>
											      <td><%= f.input :salary, label: false %></td>
											      <td><%= f.button :submit, "submit", class: "btn btn-primary btn-xs btn-round" %></td>
											    <% end %>
											    <% end %>

											    <% if applicant.salary_negotiation? && !applicant.update_salary_button? %>
											    <td>
											    	<%= link_to admin_update_salary_url(applicant), method: :patch, data: { confirm: "Are you sure you want to edit applicant salary?" } do %>
											    	<button type="button" title="Edit Applicant Salary" class="btn btn-primary btn-simple btn-xs">
											    		<i class="material-icons">help</i>
											    	</button>
											    	<% end %>  
											    </td>
											    <% elsif applicant.updated? && (applicant.salary_negotiation? || !applicant.salary_negotiation?) %>
											    <% end %>  	
	                                        </tr>
	                                    <% end %>    
	                                    <% else %>
	                                    <tr>
	                                    	<td>no data</td>
	                                    	<td>no data</td>
	                                    	<td>no data</td>
	                                    	<td>no data</td>
	                                    </tr>    
	                                    <% end %>    
	                                    </tbody>
	                                </table>

	                            </div>
	                        </div>
	                    </div>