<div class="col-md-12">
	<div class="card">
		<div class="card-header" data-background-color="purple">
			<h4 class="title">
				<%= @jd.company.company_name %>
				: </h4>
				<p class="category"><%= pluralize(@jd.applicants.count, "Applicant") %> for <%= @jd.job_title %></p>
			</div>
			<div class="card-content">
				<table class="table">
					<thead class="text-primary">
						<th>Name</th>
						<th>Phonenumber</th>
						<th>Location</th>
						<th>Min Salary</th>
						<th>Max Salary</th>
						<th>CV/Resume</th>
						<th>Agreed salary</th>
						<th></th>
						<% if @applicants.any? { |applicant| !applicant.update_salary_button? } %>
						  <th></th>
						<% end %>  
						<% if @applicants.any? { |applicant| applicant.salary_negotiation? && !applicant.update_salary_button? } %>
						  <th></th>
						<% end %>
						  
						<% if @applicants.any? { |applicant| applicant.update_salary_button? } %>
						  <th></th>
						  <th></th>
						<% end %>
					</thead>
					<tbody>
						<% if @applicants.any? %>
						<% @applicants.each do |applicant| %>
						<tr>
							<td>
							  <%= link_to [:admin, applicant.job_description, applicant] do %>
							    <button class="btn btn-primary btn-xs btn-round">
							      <%= applicant.name %>	
							    </button>
							  <% end %>
							</td>
							<td><%= applicant.phonenumber %></td>
							<td><%= applicant.location %></td>
							<td><%= applicant.min_salary %></td>
							<td><%= applicant.max_salary %></td>
							<td><%= link_to truncate(File.basename(applicant.cv.url), length: 10, omission: "...(pdf)"), applicant.cv.url %></td>
							<td>
							  <button class="btn btn-success btn-xs btn-round">
							    <% if !applicant.hired? %>	
							  	  <%= number_with_precision(applicant.salary, precision: 2) %>**
							  	<% else %>
							  	  <%= number_with_precision(applicant.salary, precision: 2) %>  
							  	<% end %>  
							  </button>  	
							</td>
								<% if applicant.updated? %>
								<% else %>
								<td>
									<span class="dropdown">
									  <% if applicant.none? %>
									  <button class="dropdown-toggle btn btn-default btn-xs btn-round" data-toggle="dropdown">
									  <% elsif applicant.interviewing? || applicant.testing? || applicant.shortlisted? %>
									  <button class="dropdown-toggle btn btn-default btn-xs btn-round" data-toggle="dropdown">
									  <% elsif applicant.salary_negotiation? %>
									  <button class="dropdown-toggle btn btn-warning btn-xs btn-round" data-toggle="dropdown">  
									  <% elsif applicant.hired? %>
									  <button class="dropdown-toggle btn btn-info btn-xs btn-round" data-toggle="dropdown">    	
									  <% elsif applicant.not_hired? %>
									  <button class="dropdown-toggle btn btn-danger btn-xs btn-round" data-toggle="dropdown">  
									  <% end %>
                                        <%= applicant.status %><i class="material-icons">keyboard_arrow_down</i>
									  </button>
									  <ul class="dropdown-menu">
									    <li><%= link_to "shortlisted", admin_shortlist_applicant_url(applicant), method: :patch %></li>
										<li><%= link_to "interviewing", admin_interviewing_applicant_url(applicant), method: :patch %></li>
										<li><%= link_to "testing", admin_testing_applicant_url(applicant), method: :patch %></li>
										<li><%= link_to "salary negotiation", admin_negotiating_applicant_salary_url(applicant), method: :patch %></li>
										<li><%= link_to "hired", admin_hire_applicant_url(applicant), method: :patch %></li>
										<li><%= link_to "not hired", admin_unhire_applicant_url(applicant), method: :patch %></li>
									  </ul>
									</span> 
								</td>
				
								
								<% if applicant.salary_negotiation? && !applicant.update_salary_button? %>
								<td>
								  <%= link_to admin_update_salary_url(applicant), method: :patch, data: { confirm: "Are you sure you want to edit applicant salary?" } do %>
								    <button type="button" title="Edit Applicant Salary" class="btn btn-primary btn-simple btn-xs">
								      <i class="material-icons">edit</i>
								    </button>
								  <% end %>  
								</td>
								<% end %>  
								<% end %>


								 <% if applicant.update_salary_button? %>
											      <%= simple_form_for([:admin, applicant.job_description, applicant]) do |f| %>
											        <td><%= f.input :salary, label: false %></td>
											        <td><%= f.button :submit, "submit", class: "btn btn-primary btn-xs btn-round" %></td>
											      <% end %>
											    <% else %>
											      <td></td>
											      <td></td>  
											    <% end %>  
						</tr>
						<% end %>
						<% else %>
						<tr>
							<td>no data</td>
							<td>no data</td>
							<td>no data</td>
							<td>no data</td>
							<td>no data</td>
							<td>no data</td>
							<td>no data</td>
							<td></td>
						</tr>   
						<% end %> 
					</tbody>
				</table>
				<div class="row">				
					<%= link_to admin_company_url(@jd.company, tab: "job descriptions"), class: "btn btn-primary btn-xs btn-round pull-right" do %>
					Go To <%= @jd.company.company_name %>'s job descriptions
					<% end %>
				</div>  
			</div>
		</div>
	</div>
	<%= javascript_include_tag "admin/jquery-3.1.0.min" %>
	<%= javascript_include_tag "admin/bootstrap.min" %>
	<%= javascript_include_tag "admin/material.min" %>
	<%= javascript_include_tag "admin/chartist.min" %>
	<%= javascript_include_tag "admin/bootstrap-notify" %>
	<%= javascript_include_tag "admin/material-dashboard" %>