<div class="card-content table-responsive">
	<div class="col-md-8">
		<div class="card">
			<div class="card-header" data-background-color="purple">
				<h4 class="title">Applicant's Detail & History</h4>
			</div>
			<div class="card-content">
				<span class="text-primary">Personal Information</span>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group label-floating">
							<label class="control-label">Fullanme</label>
							  <button class="btn btn-primary btn-xs btn-round">
							  	<%= @applicant.name %>
							  </button>  							
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group label-floating">
							<label class="control-label">Email</label>
							<%= @applicant.email %> 
						</div>
					</div>
					<% authorize? @applicant do %> 
					  <% pending_updates? @applicant do %>
					    <div class="pull-right">
				          <button type="button" class="btn btn-info btn-xs btn-round" data-toggle="modal" data-target="#myModal"><i class="material-icons">visibility</i>changes</button> 
					    </div>
					  <% end %>
					<% end %>
				</div>


				<!-- modal here -->
										<div id="myModal" class="modal fade" role="dialog">
											<div class="modal-dialog">

												<!-- Modal content-->
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal">&times;</button>
														<h4 class="modal-title">Changes</h4>
													</div>
													<div class="modal-body">
													<% if !applicant_copy.nil? %>
													<% pending_updates? @applicant do %>
														<p>name: <%= @applicant.name != @applicant_copy.name ? "#{@applicant_copy.name}**" : "#{@applicant.name}" %></p>
														<p>email: <%= @applicant.email != @applicant_copy.email ? "#{@applicant_copy.email}**" : "#{@applicant.email}" %></p>
														<p>phonenumber: <%= @applicant.phonenumber != @applicant_copy.phonenumber ? "#{@applicant_copy.phonenumber}**" : "#{@applicant.phonenumber}" %></p>
														<p>location: <%= @applicant.location != @applicant_copy.location ? "#{@applicant_copy.location}**" : "#{@applicant.location}" %></p>
														<p>cv/resume:
														<% if @applicant.cv != @applicant_copy.cv %>
														   <%= link_to truncate(File.basename(@applicant_copy.cv.url), length: 50, omission: "...(pdf)"), @applicant_copy.cv.url %>**
														<% else %>
														  <%= link_to truncate(File.basename(@applicant.cv.url), length: 50, omission: "...(pdf)"), @applicant.cv.url %>
														<% end %>   	        
														   </p>
														<p>min salary: <%= @applicant.min_salary != @applicant_copy.min_salary ? "#{@applicant_copy.min_salary }**" : "#{@applicant.min_salary }" %></p>
														<p>max salary: <%= @applicant.max_salary != @applicant_copy.max_salary  ? "#{@applicant_copy.max_salary }**" : "#{@applicant.max_salary }" %></p>	
													<% end %>														
													</div>
													<div class="modal-footer">
													  <%= link_to admin_allow_changes_to_applicant_url(@applicant), method: :patch do %>
														<button type="button" class="btn btn-default btn-xs btn-round" data-dismiss="modal">Allow Changes</button>
													  <% end %>	
													  <% end %>
													</div>
												</div>

											</div>
										</div>
										<!-- modal ends here -->


				<div class="row">
					<div class="col-md-4">
						<div class="form-group label-floating">
							<label class="control-label">Phonenumber</label>
							<%= @applicant.phonenumber %>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group label-floating">
							<label class="control-label">Location</label>
							<%= @applicant.location %>
						</div>
					</div>
				</div>
				<br/>
				<br/>
				<hr>



				<div class="row">
					<div class="col-md-12">
						<div class="form-group label-floating">
							<span class="text-primary">Application Details/Qualifications</span>
							<div class="row">
								<div class="col-md-4">
									<div class="form-group label-floating">
									<label class="control-label">Minimum Salary</label>
										GHS <%= @applicant.min_salary %>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group label-floating">
										<label class="control-label">Maximum Salary</label>
										GHS <%= @applicant.max_salary %>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group label-floating">
									<label class="control-label">Attachment(CV/resume)</label>
									  <%= link_to File.basename(@applicant.cv.url), @applicant.cv.url %>
									</div>
								</div>
							</div>
							<table>
								<tr>
									<td class="col-md-1"></td> <td class="col-md-1"></td>
									<td class="col-md-4"></td> 
								</tr>
								<br/>


							</table>

						</div>
					</div>
				</div>

				<br/>
				<br/>
				<hr>


				<div class="row">
					<div class="col-md-12">
						<div class="form-group label-floating">
							<span class="text-primary">Applicant's Interview History</span>
							<div class="card-content table-responsive">
							<table>
							 <thead class="text-primary">
							   <th>Company</th>
							   <th>Role</th>
							   <th>Status</th>
							   <th>Score</th>
							   <th>Feedback(if not hired)</th>
							 </thead>
							 <tbody>
							 <% if @applicant.applicant_records.any? %>
							 <% @applicant.applicant_records.each do |record| %>
								<tr>
								  <td class="col-md-1"><%= record.company_name %></td>
								  <td class="col-md-1"><%= record.role %></td>  
								  <td class="col-md-1"><%= record.applicant_status %></td>
								  <td class="col-md-1"><%= record.score.applicant_score %>%</td>
								  <td class="col-md-1"><%= record.feedback %></td>
								</tr>
							 <% end %>	
							 <% end %>	
							 </tbody>	
								<br/>
							</table>
							</div>

						</div>
					</div>
				</div>

				<br/>
				<br/>
				<hr>

				<div class="row">
					<%= link_to "Back", :back, class: "btn btn-primary btn-xs btn-round pull-right" %>
				</div>

			</div>



		</div>
	</div>
</div>

 


<%= javascript_include_tag "admin/jquery-3.1.0.min" %>
<%= javascript_include_tag "admin/bootstrap.min" %>
<%= javascript_include_tag "admin/material.min" %>
<%= javascript_include_tag "admin/chartist.min" %>
<%= javascript_include_tag "admin/bootstrap-notify" %>
<%= javascript_include_tag "admin/material-dashboard" %>