<!DOCTYPE html>
<html>
<head>
	<title>ReferralSystem</title>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application'%>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
	<%= csrf_meta_tags %>
	<script type='text/javascript'>
		(function (d, t) {
			var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
			bh.type = 'text/javascript';
			bh.src = 'https://www.bugherd.com/sidebarv2.js?apikey=ae7xuqxags43ixcps5x7mq';
			s.parentNode.insertBefore(bh, s);
		})(document, 'script');
	</script>
</head>
<body>
	<div class="wrapper">

		<div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
			<!--
		        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

		        Tip 2: you can also add an image using data-image tag
		    -->

		    <div class="logo">
		    <span class="logo1"><strong>BETA</strong></span>
		    <%= link_to root_url do %>
		      <%= image_tag "logo.jpeg", height: "90px", width: "220px" %>
		    <% end %>  
		    </div>

		    <div class="sidebar-wrapper">
		    	<ul class="nav">
		    		<li class="active">
		    			<%= link_to root_url do %>
		    			  <i class="material-icons">dashboard</i>
		    				<p>Dashboard</p>  
		    			<% end %>	
		    		</li>
		    		<% if user_signed_in? %>
		    		<li>
     	    		  <%= link_to edit_user_registration_url do %>
		    		    <i class="material-icons">person</i>
		    				<p>Your Profile</p>
		    		  <% end %>
		    		</li>
		    		<% end %>
		    		<li>
		    		<% if current_user && current_user.approved? %>
		    		  <%= link_to activity_feed_url do %>
		    		    <i class="material-icons">comment</i>
		    		    <p>News Feed</p>
		    		  <% end %>	
		    		<% end %>  
		    		</li>
		    		<li>
		    		<% if current_user && current_user.approved? %>
		    		  <%= link_to user_companies_url(current_user) do %>
		    		    <i class="material-icons">business center</i>
		    		    <p>My Portfolio</p>
		    		  <% end %>	
		    		<% end %>
		    		</li>
		    		<li>
		    		  <% if user_signed_in? && current_user.approved? %>
		    		    <%= link_to messages_url(category: "received") do %>
		    			    <p>
		    			    <% if Message.where(recipient_id: current_user.id, draft: false, read: false).count == 0 %>
		    			    <i class="material-icons">email</i><span class="badge"><%= Message.where(recipient_id: current_user.id, draft: false, read: false).count %></span> Unread Messages
		    			    <% else %>	
		    			    <i class="material-icons">email</i><span class="badge" style="background: #F44336"><%= Message.where(recipient_id: current_user.id, draft: false, read: false).count %></span> Unread Messages
		    			    <% end %>
		    			    </p>
		    			<% end %>	
		    		  <% end %>  	
		    		</li>
		    		<li>
		    			<% if user_signed_in? && current_user.approved? %>
		    			  <%= link_to user_stats_url do %>
		    			    <p><i class="material-icons">show_chart</i>my stats</p>
		    			  <% end %>
		    			<% end %>
		    		</li>
		    	</ul>
		    </div>
		</div>

		<div class="main-panel">
			<nav class="navbar navbar-transparent navbar-absolute">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Dashboard</a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="material-icons">notifications</i>
									<% if @unseen_notifications.count == 0 %>
									<% else %>
									<span class="notification"><%= @unseen_notifications.count %></span>
									<% end %>
									<p class="hidden-lg hidden-md">Notifications</p>
								</a>
								<% if @all_notifications.any? %>
								<ul class="dropdown-menu" style="min-width: 430px;">
								  <% @all_notifications.last(10).each do |notification| %>
								  <% if_resource_exists?(notification) do %>
								    <% if notification.resource_type == "Company" && notification.action == "contacted" %>
								      
								      <%= render "contacted_company", notification: notification %>
								    
								    <% elsif notification.resource_type == "Company" && notification.action == "deal" %>
								      
								      <%= render "deal_with_company", notification: notification %>
								    
								    <% elsif notification.resource_type == "Company" && notification.action == "authorize" %>
								      
								      <%= render "authorize_company", notification: notification %>

								    <% elsif notification.resource_type == "JobDescription" && (notification.action == "posted" || notification.action == "updated") %>
								      
								      <%= render "posted_vs_updated_job_description", notification: notification %>

								    <% elsif notification.resource_type == "JobDescription" && notification.action == "authorize" %>
								      
								      <%= render "authorize_job_description", notification: notification %>

								    <% elsif notification.resource_type == "Applicant" && notification.action == "created" %>
									  
									  <%= render "created_applicant", notification: notification %>
									    
									<% elsif notification.resource_type == "Applicant" && notification.action == "shortlisted" %>
									  
									  <%= render "shortlisted_applicant", notification: notification %>

									<% elsif notification.resource_type == "Applicant" && notification.action == "interviewing" %>
									  
									  <%= render "interviewing_applicant", notification: notification %>

									<% elsif notification.resource_type == "Applicant" && notification.action == "testing" %>
									  
									  <%= render "testing_applicant", notification: notification %>

									<% elsif notification.resource_type == "Applicant" && notification.action == "salary negotiation" %>
									  
									  <%= render "negotiating_applicant", notification: notification %>

									<% elsif notification.resource_type == "Applicant" && notification.action == "not hired" %>
									  
									  <%= render "applicant_not_hired", notification: notification %>

									<% elsif notification.resource_type == "Applicant" && notification.action == "hired" %>
									  
									  <%= render "hired_applicant", notification: notification %>
									
									<% elsif notification.resource_type == "Qualification" && notification.action == "authorize" %>
									 
									 <%= render "authorize_qualification", notification: notification %>

									<% elsif notification.resource_type == "RequiredExperience" && notification.action == "authorize" %>
									  
									  <%= render "authorize_req_exp", notification: notification %>

									<% elsif notification.resource_type == "Requirement" && notification.action == "authorize" %>
									  
									  <%= render "authorize_requirement", notification: notification %>

									<% elsif notification.resource_type == "Applicant" && notification.action == "authorize" %>
									  
									  <%= render "authorize_applicant", notification: notification %>

								    <% end %> 
								    <% end %>
								  <% end %>	
								</ul>
								<% end %>
							</li>
							<li>
							  <% if user_signed_in? %>
							  <%= link_to destroy_user_session_url, method: :delete, data: { confirm: "Are you sure you want to sign out?" }, class: "btn btn-primary btn-xs btn-round" do %>
							    <i class="material-icons">person</i> 
							    Log out,
							    <%= current_user.username %>
							  <% end %>
							  <% else %>     
								<%= link_to new_user_session_url, class: "btn btn-primary btn-xs btn-round" do %>
							      <i class="material-icons">person</i>Log In
								<% end %>
							  <% end %>	
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<div class="content">
				<div class="container-fluid">
					<div class="row">

					<div id="flash">
						<% flash.each do |key, message| %>
						<div class="alert alert-<%= key %>">
							<%= message %>
						</div>
						<% end %>
				    </div>		
						<%= yield %>
					</div>
				</div>
			</div>
		</body>
		<%= javascript_include_tag "jquery-3.1.0.min" %>
		<%= javascript_include_tag "bootstrap.min" %>
		<%= javascript_include_tag "material.min" %>
		<%= javascript_include_tag "chartist.min" %>
		<%= javascript_include_tag "bootstrap-notify" %>
		<%= javascript_include_tag "material-dashboard" %>

		<script type="text/javascript">
        $('.dropdown').click(function(e) {
        	$.ajax({
        	  method: "GET",
        	  url: "/notifications/mark_all_as_seen",
        	  dataType: "JSON",
        	  success: function (){
        	  	$('.notification').remove();
        	  }
        	})
        });
	    </script>

	    <script type="text/javascript">
	    	$(document).ready(function(){
	    		setTimeout(function(){
	    			$('#flash').fadeOut(5000);
	    		}, 5000);
	    	}); 	
	    </script>
	</html>
