

<div class="col-md-8">
  <div class="card">
    <div class="card-header" data-background-color="purple">
      <h4 class="title">Edit User Profile</h4>
      <p class="category"></p>
    </div>
    <div class="card-content">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group label-floating">
            <label class="control-label">Username</label>
            <%= f.input :username, label: false, required: true, autofocus: true, class: "form-control" %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group label-floating">
            <label class="control-label">Fullname</label>
            <%= f.input :fullname, label: false, required: true, class: "form-control" %>
          </div>
        </div>
      </div>

       <div class="row">
        <div class="col-md-6">
          <div class="form-group label-floating">
            <label class="control-label">Email</label>
            <%= f.input :email, label: false, required: true, class: "form-control" %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group label-floating">
            <label class="control-label">Phonenumber</label>
            <%= f.input :phonenumber, label: false, required: true, maxlength: "10", class: "form-control" %>
          </div>
        </div>
      </div>


      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>


      <div class="row">
        <div class="col-md-6">
          <div class="form-group label-floating">
          <label class="control-label">Password</label>
             <%= f.input :password, label: false, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false, class: "form-control" %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group label-floating">
            <label class="control-label">Password Confirmation</label>
           <%= f.input :password_confirmation, label: false, required: false, class: "format-control" %>
          </div>
        </div>
      </div>

       <div class="row">
        <div class="col-md-12">
          <div class="form-group label-floating">
            <label class="control-label">Current Password</label>
            <%= f.input :current_password, label: false, required: true, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="clearfix">
        <%= f.button :submit, "edit user profile", class: "btn btn-primary btn-round pull-right" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

