<div class="col-md-8">
  <div class="card">
    <div class="card-header" data-background-color="purple">
      <h4 class="title">Sign Up</h4>
      <p class="category"></p>
    </div>
    <div class="card-content">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= f.error_notification %>
      <h4 class="text-primary">Personal Details</h4>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group label-floating">
            <label class="control-label">Username</label>
            <%= f.input :username, label: false, required: true, autofocus: true, placeholder: "your username will be made public", class: "form-control" %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group label-floating">
            <label class="control-label">Fullname</label>
            <%= f.input :fullname, label: false, required: true, placeholder: "Your name will not be made public", class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group label-floating">
            <label class="control-label">Email</label>
            <%= f.input :email, label: false, required: true, class: "form-control" %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group label-floating">
            <label class="control-label">Phonenumber</label>
            <%= f.input :phonenumber, label: false, required: true, placeholder: "your number will not be made public", maxlength: "10", class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group label-floating">
        <label class="control-label">Payment Method</label>
          <%= f.select :payment_option, options_for_select([["mobile money", "mobile money"], ["bank", "bank"]], :selected => f.object.payment_option),{}, {:class => "btn btn-default"} %>
        </div>
      </div>


      <div class="row">
        <div class="col-md-6">
          <div class="form-group label-floating">
          <label class="control-label">Password</label>
            <%= f.input :password, label: false, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), class: "form-control" %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group label-floating">
            <label class="control-label">Password Confirmation</label>
            <%= f.input :password_confirmation, label: false, required: true, class: "form-control" %>
          </div>
        </div>
      </div>

     
      <div class="row">
        <div class="col-md-3">
          <div class="form-group label-floating">
            <label class="control-label">Remember</label>
            <%= f.input :remember_me, label: false, as: :boolean if devise_mapping.rememberable? %>
          </div>
        </div>
      </div>
      <div class="clearfix">
        <%= f.button :submit, "create an account", class: "btn btn-primary btn-xs btn-round pull-right" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
